{"openapi":"3.0.3","info":{"title":"Birdeye Public API","description":"The Birdeye REST API provides programmatic access to your Birdeye data — reviews, listings, surveys, social, ticketing, contacts, and more.\n\n**Base URL:** `https://api.birdeye.com/resources`\n\n**Authentication:** All requests require the `x-api-key` header. Never expose this key client-side.\n\n**Pagination:** Use `sindex` (start index) and `count` (page size). Max `sindex + count` = 100,000.\n\n**Rate limiting:** Contact Birdeye support for current limits. HTTP 429 is returned when exceeded.\n\n**Error format:**\n```json\n{\"code\": 1161, \"message\": \"Invalid API key\"}\n```","version":"1.0.0","contact":{"name":"Birdeye Support","url":"https://birdeye.com"}},"servers":[{"url":"https://api.birdeye.com/resources","description":"Birdeye API"}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Partner-specific API key provided by Birdeye. Required on all requests."}},"schemas":{"ErrorResponse":{"type":"object","properties":{"code":{"type":"integer","example":1161},"message":{"type":"string","example":"Invalid API key"}}},"HoursOfOperation":{"type":"object","properties":{"day":{"type":"integer"},"isOpen":{"type":"integer","enum":[0,1]},"workingHours":{"type":"array","items":{"type":"object","properties":{"startHour":{"type":"string"},"endHour":{"type":"string"}}}},"comment":{"type":"string"}}},"BusinessLocation":{"type":"object","properties":{"address1":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"zip":{"type":"string"},"countryCode":{"type":"string"},"subLocality":{"type":"string"}}}},"responses":{"Unauthorized":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"NotFound":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"BadRequest":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"RateLimited":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"security":[{"ApiKeyAuth":[]}],"paths":{"/v1/signup/reseller/subaccount":{"post":{"tags":["Business"],"summary":"Create Business","operationId":"createBusiness","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"rid","in":"query","required":true,"schema":{"type":"string"}},{"name":"email_id","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["businessName","zip","phone"],"properties":{"businessName":{"type":"string"},"zip":{"type":"string"},"phone":{"type":"string"},"type":{"type":"string"},"countryCode":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"businessId":{"type":"integer"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/business/{businessNumber}/search":{"post":{"tags":["Business"],"summary":"Search Business","operationId":"searchBusiness","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"integer"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"searchStr":{"type":"string"},"sortBy":{"type":"string"},"startIndex":{"type":"integer"},"pageSize":{"type":"integer"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/business/{business_id}":{"get":{"tags":["Business"],"summary":"Get Business","operationId":"getBusiness","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"business_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]},"put":{"tags":["Business"],"summary":"Update Business","operationId":"updateBusiness","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"business_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"phone":{"type":"string"},"websiteUrl":{"type":"string"},"description":{"type":"string"},"mainBusinessDescription":{"type":"string"},"location":{"$ref":"#/components/schemas/BusinessLocation"},"hoursOfOperations":{"type":"array","items":{"$ref":"#/components/schemas/HoursOfOperation"}}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]},"delete":{"tags":["Business"],"summary":"Delete Business","operationId":"deleteBusiness","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"business_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/business/{business_id}/status":{"put":{"tags":["Business"],"summary":"Update Business Status","operationId":"updateBusinessStatus","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"business_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"astatus","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/business/child/all":{"get":{"tags":["Business"],"summary":"Get Child Businesses","operationId":"getChildBusinesses","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"pid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/business/tabs":{"post":{"tags":["Business"],"summary":"Update Public Profile Tabs","operationId":"updatePublicProfileTabs","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/business/{businessId}/hierarchy":{"get":{"tags":["Business"],"summary":"Get Hierarchy","operationId":"getBusinessHierarchy","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/business/business-hierarchy/location/update-mapping/{businessId}":{"post":{"tags":["Business"],"summary":"Update Hierarchy","operationId":"updateBusinessHierarchy","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/business/{businessNumber}/profile/customcard":{"get":{"tags":["Business"],"summary":"Get Custom Card Details","operationId":"getCustomCardDetails","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/business/public/card/{cardId}":{"put":{"tags":["Business"],"summary":"Update Custom Card","operationId":"updateCustomCard","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"cardId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]},"delete":{"tags":["Business"],"summary":"Delete Custom Card","operationId":"deleteCustomCard","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"cardId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/business/{businessNumber}/timezones":{"get":{"tags":["Business"],"summary":"Get Timezone List","operationId":"getTimezoneList","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/business/{businessNumber}/birdeye/impressions":{"post":{"tags":["Business"],"summary":"Get Birdeye Impressions","operationId":"getBirdeyeImpressions","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"fromDate":{"type":"string"},"toDate":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/business/public/custom-fields/create":{"post":{"tags":["Custom Fields"],"summary":"Create Custom Field","operationId":"createCustomField","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["fieldName","fieldType"],"properties":{"fieldName":{"type":"string"},"fieldType":{"type":"string","enum":["text","number","date","dropdown"]}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/business/public/custom-fields/update/{fieldId}":{"put":{"tags":["Custom Fields"],"summary":"Update Custom Field","operationId":"updateCustomField","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"fieldId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/business/public/custom-fields/get/{fieldId}":{"get":{"tags":["Custom Fields"],"summary":"Get Custom Field","operationId":"getCustomField","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"fieldId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/business/public/custom-fields/getList":{"post":{"tags":["Custom Fields"],"summary":"List Custom Fields","operationId":"listCustomFields","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/business/public/custom-fields/delete/{fieldId}":{"delete":{"tags":["Custom Fields"],"summary":"Delete Custom Field","operationId":"deleteCustomField","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"fieldId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/business/public/custom-fields/associate":{"put":{"tags":["Custom Fields"],"summary":"Associate Custom Fields","operationId":"associateCustomFields","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/business/public/card":{"post":{"tags":["Custom Fields"],"summary":"Create Custom Card","operationId":"createCustomCard","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/user/signup/v2":{"post":{"tags":["User"],"summary":"Create User","operationId":"createUser","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email","firstName","lastName"],"properties":{"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"phone":{"type":"string"},"role":{"type":"string"},"sendInvite":{"type":"boolean","default":true}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/user/updateUser":{"put":{"tags":["User"],"summary":"Update User","operationId":"updateUser","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"userEmailId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/user/remove":{"delete":{"tags":["User"],"summary":"Delete User","operationId":"deleteUser","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"bid","in":"query","required":true,"schema":{"type":"string"}},{"name":"email","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/user/forgotpassword":{"post":{"tags":["User"],"summary":"Forgot Password","operationId":"forgotPassword","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"email","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/user/details":{"get":{"tags":["User"],"summary":"Get User","operationId":"getUser","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"email","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/review/businessId/{businessId}":{"post":{"tags":["Reviews"],"summary":"Get Reviews","operationId":"getReviews","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"path","required":true,"schema":{"type":"integer"}},{"name":"sindex","in":"query","schema":{"type":"integer"}},{"name":"count","in":"query","schema":{"type":"integer"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"fromDate":{"type":"string"},"toDate":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"ratings":{"type":"array","items":{"type":"integer"}},"statuses":{"type":"array","items":{"type":"string"}},"searchStr":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"allChild":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/review/archive/public":{"post":{"tags":["Reviews"],"summary":"Get Archived Reviews","operationId":"getArchivedReviews","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"sindex","in":"query","schema":{"type":"integer"}},{"name":"count","in":"query","schema":{"type":"integer"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"fromDate":{"type":"string"},"toDate":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"ratings":{"type":"array","items":{"type":"integer"}}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/review/businessid/{businessId}/summary":{"get":{"tags":["Reviews"],"summary":"Review Summary","operationId":"getReviewSummary","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/review/reply/business/{businessNumber}/review/{reviewId}":{"put":{"tags":["Reviews"],"summary":"Reply to Review","operationId":"replyToReview","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}},{"name":"reviewId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["comments"],"properties":{"comments":{"type":"string"},"userId":{"type":"string"}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/tag":{"post":{"tags":["Reviews"],"summary":"Create Tags","operationId":"createTags","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["tags"],"properties":{"tags":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/tag/{tagname}":{"delete":{"tags":["Reviews"],"summary":"Delete Tag","operationId":"deleteTag","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"tagname","in":"path","required":true,"schema":{"type":"string"}},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/tag/all":{"get":{"tags":["Reviews"],"summary":"Get All Tags","operationId":"getAllTags","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/tag/add/review":{"post":{"tags":["Reviews"],"summary":"Assign Tags to Reviews","operationId":"assignTagsToReviews","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"bid","in":"query","required":true,"schema":{"type":"string"}},{"name":"tag","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/tag/remove/review":{"post":{"tags":["Reviews"],"summary":"Remove Tags from Reviews","operationId":"removeTagsFromReviews","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"bid","in":"query","required":true,"schema":{"type":"string"}},{"name":"tag","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/tag/remove/all/review":{"post":{"tags":["Reviews"],"summary":"Remove Tags from All Reviews","operationId":"removeTagsFromAllReviews","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"bid","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["tag"],"properties":{"tag":{"type":"string"}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}}}}