{"openapi":"3.0.3","info":{"title":"Birdeye Public API","version":"1.0.0","contact":{"name":"Birdeye Support","url":"https://birdeye.com"}},"servers":[{"url":"https://api.birdeye.com/resources"}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key"}},"schemas":{"ErrorResponse":{"type":"object","properties":{"code":{"type":"integer"},"message":{"type":"string"}}}},"responses":{"Unauthorized":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"NotFound":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"BadRequest":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"RateLimited":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"security":[{"ApiKeyAuth":[]}],"paths":{"/v1/customer-v2/external/saveCustomer":{"post":{"tags":["Contact"],"summary":"Create or Update Contact","operationId":"createOrUpdateContact","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"phone":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"zip":{"type":"string"},"customFields":{"type":"object"},"tags":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"customerId":{"type":"integer"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/customer-v2/external/getCustomer":{"post":{"tags":["Contact"],"summary":"Get Contact","operationId":"getContact","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string"},"phone":{"type":"string"},"experienceScore":{"type":"boolean","description":"Include experience score in response","default":false}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/customer-v2/external/deleteCustomer":{"post":{"tags":["Contact"],"summary":"Delete Contact","operationId":"deleteContact","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string"},"phone":{"type":"string"}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/customer/checkin":{"post":{"tags":["Contact"],"summary":"Customer Check-in","operationId":"customerCheckin","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"bid","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"phone":{"type":"string"},"notes":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/customer/history/{customerId}":{"get":{"tags":["Contact"],"summary":"Customer Activity Log","operationId":"getCustomerActivityLog","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"customerId","in":"path","required":true,"schema":{"type":"string"}},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/customer/id/{customerId}":{"delete":{"tags":["Contact"],"summary":"Delete Customer","operationId":"deleteCustomer","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"customerId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/customer-v2/change-permission":{"post":{"tags":["Contact"],"summary":"Subscribe/Unsubscribe Customer","operationId":"subscribeUnsubscribeCustomer","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email","businessId","action"],"properties":{"email":{"type":"string"},"businessId":{"type":"integer"},"action":{"type":"string","enum":["subscribe","unsubscribe"]},"channel":{"type":"string","enum":["email","sms","all"]}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v2/customer/list":{"post":{"tags":["Contact"],"summary":"Contacts List","operationId":"getContactsList","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"searchStr":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/contact/details":{"post":{"tags":["Contact"],"summary":"Customer or Lead List","operationId":"getCustomerOrLeadList","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"businessId":{"type":"integer"},"searchStr":{"type":"string"},"sindex":{"type":"integer"},"count":{"type":"integer"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/contactUs/{businessId}":{"post":{"tags":["Contact"],"summary":"Contact Us","operationId":"contactUs","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","email","message"],"properties":{"name":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"message":{"type":"string"}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/contact/{businessId}/update-feed":{"post":{"tags":["Contact"],"summary":"Get Opt-out Contacts","operationId":"getOptOutContacts","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"fromDate":{"type":"string"},"toDate":{"type":"string"},"sindex":{"type":"integer"},"count":{"type":"integer"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/contact/external/preferences/saveCustomer":{"post":{"tags":["Contact V2"],"summary":"Upsert Contact","operationId":"upsertContactV2","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"businessId":{"type":"integer"},"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"phone":{"type":"string"},"emailOptIn":{"type":"boolean"},"smsOptIn":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/contact/external/preferences/getCustomer":{"post":{"tags":["Contact V2"],"summary":"Retrieve Contact","operationId":"retrieveContactV2","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"businessId":{"type":"integer"},"email":{"type":"string"},"phone":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/contact/external/preferences/checkin":{"post":{"tags":["Contact V2"],"summary":"Customer Check-in V2","operationId":"customerCheckinV2","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"businessId":{"type":"integer"},"email":{"type":"string"},"phone":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/contact/external/preferences/change-permission":{"post":{"tags":["Contact V2"],"summary":"Update Communication Preferences","operationId":"updateCommunicationPreferences","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["businessId","action"],"properties":{"businessId":{"type":"integer"},"email":{"type":"string"},"phone":{"type":"string"},"action":{"type":"string","enum":["subscribe","unsubscribe"]},"channel":{"type":"string","enum":["email","sms","all"]}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/contact/external/preferences/update-feed":{"post":{"tags":["Contact V2"],"summary":"Retrieve Opted-Out Contacts","operationId":"retrieveOptedOutContacts","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"businessId":{"type":"integer"},"fromDate":{"type":"string"},"toDate":{"type":"string"},"sindex":{"type":"integer"},"count":{"type":"integer"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/campaign/external/campaign-request-url":{"post":{"tags":["Campaign"],"summary":"Fetch Campaign Request URL","operationId":"fetchCampaignRequestUrl","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["businessId","campaignId"],"properties":{"businessId":{"type":"integer"},"campaignId":{"type":"integer"},"customerId":{"type":"integer"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/campaign/external/default-review-sources":{"post":{"tags":["Campaign"],"summary":"Set Default Review Sources","operationId":"setDefaultReviewSources","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"businessId":{"type":"integer"},"sources":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/aggregation/business/{businessId}":{"get":{"tags":["Aggregation"],"summary":"Get Aggregation Sources","operationId":"getAggregationSources","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]},"post":{"tags":["Aggregation"],"summary":"Add Aggregation Link","operationId":"addAggregationLink","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["url"],"properties":{"url":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/survey/reviewsites-alias":{"get":{"tags":["Aggregation"],"summary":"Get Review Site Aliases","operationId":"getReviewSiteAliases","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/aggregation/business/{businessID}/aggregation/{aggregationID}":{"delete":{"tags":["Aggregation"],"summary":"Delete Aggregation URL","operationId":"deleteAggregationUrl","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessID","in":"path","required":true,"schema":{"type":"string"}},{"name":"aggregationID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/reports/smb":{"get":{"tags":["Report"],"summary":"Dashboard","operationId":"getDashboard","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"bid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/reports/business/analytics/email":{"get":{"tags":["Report"],"summary":"Review Conversion Report","operationId":"getReviewConversionReport","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/reports/review/analytic/time":{"post":{"tags":["Report"],"summary":"Review and Rating Over Time","operationId":"getReviewRatingOverTime","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"fromDate":{"type":"string"},"toDate":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/reports/rating/location":{"post":{"tags":["Report"],"summary":"Reviews and Rating By Location","operationId":"getReviewsByLocation","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"fromDate":{"type":"string"},"toDate":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/review/report/count-by-rating/{BusinessId}":{"post":{"tags":["Report"],"summary":"Review Count and Rating","operationId":"getReviewCountByRating","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"BusinessId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"fromDate":{"type":"string"},"toDate":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/review/report/count-by-rating/employee/{BusinessId}":{"post":{"tags":["Report"],"summary":"Review Count and Rating By Employee","operationId":"getReviewCountByEmployee","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"BusinessId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"fromDate":{"type":"string"},"toDate":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/keywords/opmetric/location":{"post":{"tags":["Report"],"summary":"Insights Category Report By Location","operationId":"getInsightsCategoryReport","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"fromDate":{"type":"string"},"toDate":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v2/competitive/ranking":{"post":{"tags":["Report"],"summary":"Competitive Ranking","operationId":"getCompetitiveRanking","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"fromDate":{"type":"string"},"toDate":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/reports/nps/time/elst":{"post":{"tags":["Report"],"summary":"NPS Over Time","operationId":"getNPSOverTime","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"fromDate":{"type":"string"},"toDate":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/reports/nps/location/elst":{"post":{"tags":["Report"],"summary":"NPS By Location","operationId":"getNPSByLocation","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"fromDate":{"type":"string"},"toDate":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/reports/count/reviewsite":{"post":{"tags":["Report"],"summary":"Review By Source","operationId":"getReviewsBySource","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"fromDate":{"type":"string"},"toDate":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/reports/count/visitors":{"post":{"tags":["Report"],"summary":"Visitor Report","operationId":"getVisitorReport","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"fromDate":{"type":"string"},"toDate":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/reports/usage":{"post":{"tags":["Report"],"summary":"Usage Report","operationId":"getUsageReport","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"reportType","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/review/report/response-rate/time/rate-over-time":{"post":{"tags":["Report"],"summary":"Review Response Rate Over Time","operationId":"getResponseRateOverTime","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"businessId":{"type":"integer"},"fromDate":{"type":"string"},"toDate":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/review/report/response-rate/by-location/overview":{"post":{"tags":["Report"],"summary":"Review Response Rate By Location","operationId":"getResponseRateByLocation","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"businessId":{"type":"integer"},"fromDate":{"type":"string"},"toDate":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/review/report/avg-response-time/by-location":{"post":{"tags":["Report"],"summary":"Average Response Time By Location","operationId":"getAvgResponseTimeByLocation","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"businessId":{"type":"integer"},"fromDate":{"type":"string"},"toDate":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/review/report/avg-response-time/time":{"post":{"tags":["Report"],"summary":"Average Response Time Over Time","operationId":"getAvgResponseTimeOverTime","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"businessId":{"type":"integer"},"fromDate":{"type":"string"},"toDate":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}}}}