{"openapi":"3.0.3","info":{"title":"Birdeye Public API","version":"1.0.0","contact":{"name":"Birdeye Support","url":"https://birdeye.com"}},"servers":[{"url":"https://api.birdeye.com/resources"}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key"}},"schemas":{"ErrorResponse":{"type":"object","properties":{"code":{"type":"integer"},"message":{"type":"string"}}}},"responses":{"Unauthorized":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"NotFound":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"BadRequest":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"RateLimited":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"security":[{"ApiKeyAuth":[]}],"paths":{"/v1/business/{EnterpriseBusinessNumber}/child":{"get":{"tags":["Competitor"],"summary":"Get Competitor Business","operationId":"getCompetitorBusiness","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"EnterpriseBusinessNumber","in":"path","required":true,"schema":{"type":"string"}},{"name":"isCompetitor","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/business/{businessId}/competitors":{"get":{"tags":["Competitor"],"summary":"Get Business Competitors","operationId":"getBusinessCompetitors","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/signup/competitor/{businessNumber}":{"post":{"tags":["Competitor"],"summary":"Create Competitor Enterprise","operationId":"createCompetitorEnterprise","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/aggregation/competitor/{compAccountId}/{businessNumber}":{"post":{"tags":["Competitor"],"summary":"Add Competitor Aggregation Link","operationId":"addCompetitorAggregationLink","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"compAccountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["url"],"properties":{"url":{"type":"string"}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/review/businessId/{CompetitorEnterpriseBusinessId}":{"post":{"tags":["Competitor"],"summary":"Get Competitor Reviews","operationId":"getCompetitorReviews","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"CompetitorEnterpriseBusinessId","in":"path","required":true,"schema":{"type":"integer"}},{"name":"sindex","in":"query","schema":{"type":"integer"}},{"name":"count","in":"query","schema":{"type":"integer"}},{"name":"isCompetitor","in":"query","schema":{"type":"boolean"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"sources":{"type":"array","items":{"type":"string"}},"ratings":{"type":"array","items":{"type":"integer"}},"fromDate":{"type":"string"},"toDate":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/competitors/review":{"post":{"tags":["Competitor AI"],"summary":"Retrieve Competitor Reviews","operationId":"retrieveCompetitorReviews","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"startIndex","in":"query","schema":{"type":"integer"}},{"name":"pageSize","in":"query","schema":{"type":"integer"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"businessId":{"type":"integer"},"competitorIds":{"type":"array","items":{"type":"integer"}},"fromDate":{"type":"string"},"toDate":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/competitors/review/metrics":{"post":{"tags":["Competitor AI"],"summary":"Retrieve Competitor Review Metrics","operationId":"retrieveCompetitorReviewMetrics","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"businessId":{"type":"integer"},"competitorIds":{"type":"array","items":{"type":"integer"}},"fromDate":{"type":"string"},"toDate":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/competitors/competitive-insight/categories/{businessNumber}":{"post":{"tags":["Competitor AI"],"summary":"Competitive Insight Categories","operationId":"getCompetitiveInsightCategories","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"fromDate":{"type":"string"},"toDate":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/competitors/competitive-insight/themes/{businessNumber}":{"post":{"tags":["Competitor AI"],"summary":"Competitive Insight Themes","operationId":"getCompetitiveInsightThemes","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"fromDate":{"type":"string"},"toDate":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/competitors/competitive-insight/keywords/{businessNumber}":{"post":{"tags":["Competitor AI"],"summary":"Competitive Insight Keywords","operationId":"getCompetitiveInsightKeywords","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"fromDate":{"type":"string"},"toDate":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/insight/experience/scoreBenchmark":{"post":{"tags":["Insight AI"],"summary":"Get Experience Score Benchmark","operationId":"getExperienceScoreBenchmark","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"businessId":{"type":"integer"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/insight/experience/locationInfo":{"post":{"tags":["Insight AI"],"summary":"Get Experience Location Info","operationId":"getExperienceLocationInfo","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"businessId":{"type":"integer"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/qna/question/create":{"post":{"tags":["Google Q&A"],"summary":"Create Question","operationId":"createQuestion","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["question"],"properties":{"question":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/qna/answer/create":{"post":{"tags":["Google Q&A"],"summary":"Create Answer","operationId":"createAnswer","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["questionId","answer"],"properties":{"questionId":{"type":"string"},"answer":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/qna/question/update":{"put":{"tags":["Google Q&A"],"summary":"Update Question","operationId":"updateQuestion","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["questionId","question"],"properties":{"questionId":{"type":"string"},"question":{"type":"string"}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/qna/answer/update":{"put":{"tags":["Google Q&A"],"summary":"Update Answer","operationId":"updateAnswer","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["answerId","answer"],"properties":{"answerId":{"type":"string"},"answer":{"type":"string"}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/qna/question/delete":{"post":{"tags":["Google Q&A"],"summary":"Delete Question","operationId":"deleteQuestion","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["questionId"],"properties":{"questionId":{"type":"string"}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/qna/answer/delete":{"post":{"tags":["Google Q&A"],"summary":"Delete Answer","operationId":"deleteAnswer","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["answerId"],"properties":{"answerId":{"type":"string"}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/qna/question/deleteAll":{"delete":{"tags":["Google Q&A"],"summary":"Delete All Questions and Answers","operationId":"deleteAllQnA","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/qna/get":{"post":{"tags":["Google Q&A"],"summary":"Get All Questions and Answers","operationId":"getAllQnA","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"sindex":{"type":"integer"},"count":{"type":"integer"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/qna/unanswered/get":{"post":{"tags":["Google Q&A"],"summary":"Get Unanswered Questions","operationId":"getUnansweredQnA","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"sindex":{"type":"integer"},"count":{"type":"integer"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/google-services/service/create":{"post":{"tags":["Google Services"],"summary":"Create Service","operationId":"createGoogleService","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["serviceName"],"properties":{"serviceName":{"type":"string"},"description":{"type":"string"},"price":{"type":"number"},"currency":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/google-services/services":{"post":{"tags":["Google Services"],"summary":"Get All Services","operationId":"getAllGoogleServices","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/google-services/service/update":{"post":{"tags":["Google Services"],"summary":"Update Service","operationId":"updateGoogleService","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["serviceId"],"properties":{"serviceId":{"type":"string"},"serviceName":{"type":"string"},"description":{"type":"string"},"price":{"type":"number"}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/google-services/service/delete":{"post":{"tags":["Google Services"],"summary":"Delete Services","operationId":"deleteGoogleServices","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["serviceIds"],"properties":{"serviceIds":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/google-services/service/location-mapping":{"get":{"tags":["Google Services"],"summary":"Get Location Mapping","operationId":"getServiceLocationMapping","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/google-services/services/location-mapping":{"post":{"tags":["Google Services"],"summary":"Update Location Mapping","operationId":"updateServiceLocationMapping","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}}}}