{"openapi":"3.0.3","info":{"title":"Birdeye Public API","version":"1.0.0","contact":{"name":"Birdeye Support","url":"https://birdeye.com"}},"servers":[{"url":"https://api.birdeye.com/resources"}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key"}},"schemas":{"ErrorResponse":{"type":"object","properties":{"code":{"type":"integer"},"message":{"type":"string"}}},"BusinessLocation":{"type":"object","properties":{"address1":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"zip":{"type":"string"},"countryCode":{"type":"string"},"subLocality":{"type":"string"}}},"HoursOfOperation":{"type":"object","properties":{"day":{"type":"integer"},"isOpen":{"type":"integer","enum":[0,1]},"workingHours":{"type":"array","items":{"type":"object","properties":{"startHour":{"type":"string"},"endHour":{"type":"string"}}}},"comment":{"type":"string"}}}},"responses":{"Unauthorized":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"NotFound":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"BadRequest":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"RateLimited":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"security":[{"ApiKeyAuth":[]}],"paths":{"/v1/quero/external/get-all-qna":{"post":{"tags":["FAQ"],"summary":"Get All FAQ","operationId":"getAllFAQ","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"sIndex","in":"query","schema":{"type":"integer"}},{"name":"count","in":"query","schema":{"type":"integer"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"businessId":{"type":"integer"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/fix":{"post":{"tags":["Listing"],"summary":"Fix Listing","operationId":"fixListing","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"b_id","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/status/location":{"get":{"tags":["Listing"],"summary":"Get Location Status Report","operationId":"getLocationStatusReport","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/insights":{"post":{"tags":["Listing"],"summary":"Listing Insights","operationId":"getListingInsights","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"fromDate":{"type":"string"},"toDate":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/report/{reportType}/datapoints":{"post":{"tags":["Listing"],"summary":"Listing Insights Datapoints","operationId":"getListingInsightsDatapoints","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"reportType","in":"path","required":true,"schema":{"type":"string"}},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"fromDate":{"type":"string"},"toDate":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/{businessNumber}/gmb-attributes-list":{"get":{"tags":["Listing"],"summary":"Get GMB Attributes","operationId":"getGMBAttributes","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/{businessNumber}/apple-location-attributes-list":{"get":{"tags":["Listing"],"summary":"Get Apple Attributes","operationId":"getAppleAttributes","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/{businessNumber}/apple-action-links":{"get":{"tags":["Listing"],"summary":"Get Apple Action Links","operationId":"getAppleActionLinks","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/{businessNumber}/category-list":{"get":{"tags":["Listing"],"summary":"Get Category List","operationId":"getCategoryList","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}},{"name":"sourceName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/{businessNumber}/create":{"post":{"tags":["Listing"],"summary":"Create Listing","operationId":"createListing","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","address","phone"],"properties":{"name":{"type":"string"},"phone":{"type":"string"},"address":{"$ref":"#/components/schemas/BusinessLocation"},"description":{"type":"string"},"websiteUrl":{"type":"string"},"mainBusinessDescription":{"type":"string"},"hoursOfOperations":{"type":"array","items":{"$ref":"#/components/schemas/HoursOfOperation"}}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/{businessNumber}/update":{"put":{"tags":["Listing"],"summary":"Update Listing","operationId":"updateListing","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"phone":{"type":"string"},"address":{"$ref":"#/components/schemas/BusinessLocation"},"description":{"type":"string"},"websiteUrl":{"type":"string"},"mainBusinessDescription":{"type":"string"},"hoursOfOperations":{"type":"array","items":{"$ref":"#/components/schemas/HoursOfOperation"}}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/{businessNumber}/get":{"get":{"tags":["Listing"],"summary":"Get Listing","operationId":"getListing","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/{businessNumber}/more-hours-type":{"get":{"tags":["Listing"],"summary":"Get More Hours Type","operationId":"getMoreHoursType","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/{businessNumber}/gmb/keywords":{"post":{"tags":["Listing"],"summary":"Get Google Keywords Count","operationId":"getGoogleKeywordsCount","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"keywords":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/{businessNumber}/deactivate":{"post":{"tags":["Listing"],"summary":"Deactivate Listing","operationId":"deactivateListing","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/menu-details":{"post":{"tags":["Listing"],"summary":"Retrieve Menu Details","operationId":"retrieveMenuDetails","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"businessId":{"type":"integer"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/get/hotel-attributes":{"get":{"tags":["Listing"],"summary":"Get Hotel Attributes","operationId":"getHotelAttributes","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/public/product/setup/googleMerchant":{"post":{"tags":["GMB Products"],"summary":"Onboard Google Merchant Account","operationId":"onboardGoogleMerchant","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"merchantId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/public/product":{"post":{"tags":["GMB Products"],"summary":"Create Product Listing","operationId":"createProductListing","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","price","currency"],"properties":{"name":{"type":"string"},"description":{"type":"string"},"price":{"type":"number"},"currency":{"type":"string"},"imageUrls":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/public/product/{productId}":{"put":{"tags":["GMB Products"],"summary":"Update Product Listing","operationId":"updateProductListing","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"productId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"price":{"type":"number"}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]},"get":{"tags":["GMB Products"],"summary":"Get Product Listing","operationId":"getProductListing","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"productId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/public/product/deleteProduct":{"post":{"tags":["GMB Products"],"summary":"Delete Product Listings","operationId":"deleteProductListings","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["productIds"],"properties":{"productIds":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/public/product/getList":{"post":{"tags":["GMB Products"],"summary":"List Product Listings","operationId":"listProductListings","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"businessId":{"type":"integer"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/public/product/addProduct":{"put":{"tags":["GMB Products"],"summary":"Add Products to Location","operationId":"addProductsToLocation","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["businessNumber","productIds"],"properties":{"businessNumber":{"type":"string"},"productIds":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/public/product/removeProduct":{"put":{"tags":["GMB Products"],"summary":"Remove Products from Location","operationId":"removeProductsFromLocation","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["businessNumber","productIds"],"properties":{"businessNumber":{"type":"string"},"productIds":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/searchAi/public/account-setup":{"get":{"tags":["Search AI"],"summary":"Get Search AI Configuration","operationId":"getSearchAIConfiguration","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/searchAi/public/available-runs":{"get":{"tags":["Search AI"],"summary":"Get Search AI Available Runs","operationId":"getSearchAIAvailableRuns","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/searchAi/public/citations":{"post":{"tags":["Search AI"],"summary":"Get Search AI Citations","operationId":"getSearchAICitations","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"runId":{"type":"string"},"themes":{"type":"array","items":{"type":"string"}},"engines":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/searchAi/public/business":{"post":{"tags":["Search AI"],"summary":"Get Search AI Businesses","operationId":"getSearchAIBusinesses","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"runId":{"type":"string"},"themes":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/searchAi/public/aio-details":{"post":{"tags":["Search AI"],"summary":"Get Accuracy Report","operationId":"getAccuracyReport","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"runId":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/listing/searchAi/public/swot-details":{"post":{"tags":["Search AI"],"summary":"Get Sentiment Report","operationId":"getSentimentReport","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"runId":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/ticket/{businessNumber}/create-ticket":{"put":{"tags":["Ticketing"],"summary":"Create Ticket","operationId":"createTicket","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["subject","description"],"properties":{"subject":{"type":"string"},"description":{"type":"string"},"priority":{"type":"string","enum":["low","medium","high","urgent"]},"customerId":{"type":"integer"},"assigneeId":{"type":"integer"},"tags":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/ticket/{businessNumber}/comment-activity":{"post":{"tags":["Ticketing"],"summary":"Add Ticket Comment","operationId":"addTicketComment","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["ticketId","comment"],"properties":{"ticketId":{"type":"integer"},"comment":{"type":"string"},"isPublic":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/ticket/{businessNumber}/update":{"put":{"tags":["Ticketing"],"summary":"Update Ticket","operationId":"updateTicket","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["ticketId"],"properties":{"ticketId":{"type":"integer"},"status":{"type":"string","enum":["open","pending","resolved","closed"]},"priority":{"type":"string"},"assigneeId":{"type":"integer"},"tags":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/ticket/{businessNumber}/get/all":{"post":{"tags":["Ticketing"],"summary":"Get All Ticket Data","operationId":"getAllTicketData","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"array","items":{"type":"string"}},"priority":{"type":"array","items":{"type":"string"}},"fromDate":{"type":"string"},"toDate":{"type":"string"},"searchStr":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/integrations/add/businessintegrationmapping":{"put":{"tags":["Integration"],"summary":"Add Business Integration Mapping","operationId":"addBusinessIntegrationMapping","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"integrationId":{"type":"string"},"businessId":{"type":"integer"},"locationMappings":{"type":"array","items":{"type":"object","properties":{"externalId":{"type":"string"},"businessNumber":{"type":"string"}}}}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}}}}