{"openapi":"3.0.3","info":{"title":"Birdeye Public API","version":"1.0.0","contact":{"name":"Birdeye Support","url":"https://birdeye.com"}},"servers":[{"url":"https://api.birdeye.com/resources"}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key"}},"schemas":{"ErrorResponse":{"type":"object","properties":{"code":{"type":"integer"},"message":{"type":"string"}}}},"responses":{"Unauthorized":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"NotFound":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"BadRequest":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"RateLimited":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"security":[{"ApiKeyAuth":[]}],"paths":{"/v1/survey/{survey_id}":{"get":{"tags":["Survey"],"summary":"Get Survey","operationId":"getSurvey","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"survey_id","in":"path","required":true,"schema":{"type":"integer"}},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/survey/{survey_id}/submit":{"post":{"tags":["Survey"],"summary":"Submit Survey Response","operationId":"submitSurveyResponse","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"survey_id","in":"path","required":true,"schema":{"type":"integer"}},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["responses"],"properties":{"responses":{"type":"array","items":{"type":"object","properties":{"questionId":{"type":"integer"},"answer":{"type":"string"},"choices":{"type":"array","items":{"type":"integer"}}}}},"created":{"type":"integer","description":"Backdated response timestamp (UTC epoch ms)"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/survey/ext/list/responses/{survey_id}":{"post":{"tags":["Survey"],"summary":"List Survey Responses","operationId":"listSurveyResponses","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"survey_id","in":"path","required":true,"schema":{"type":"integer"}},{"name":"businessNumber","in":"query","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","schema":{"type":"integer"}},{"name":"size","in":"query","schema":{"type":"integer"}},{"name":"includeTicketId","in":"query","schema":{"type":"boolean"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"fromDate":{"type":"string"},"toDate":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/survey/business/{business_id}/all":{"get":{"tags":["Survey"],"summary":"Get All Surveys","operationId":"getAllSurveys","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"business_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/survey/external/create/{businessId}":{"post":{"tags":["Survey"],"summary":"Create Survey","operationId":"createSurvey","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string"},"type":{"type":"string"},"questions":{"type":"array","items":{"type":"object"}}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/survey/{surveyId}/settings/update":{"put":{"tags":["Survey"],"summary":"Update Survey Settings","operationId":"updateSurveySettings","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"surveyId","in":"path","required":true,"schema":{"type":"integer"}},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"redirectUrl":{"type":"string"},"thankYouMessage":{"type":"string"},"sendEmailNotification":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/business/{businessNumber}/upload/media":{"post":{"tags":["Business Media"],"summary":"Add Media","operationId":"addMedia","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["mediaUrl","mediaType"],"properties":{"mediaUrl":{"type":"string"},"mediaType":{"type":"string","enum":["photo","video"]},"caption":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/business/{businessNumber}/media/get":{"get":{"tags":["Business Media"],"summary":"Get Media","operationId":"getMedia","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/business/{businessNumber}/update/media/{mediaId}":{"put":{"tags":["Business Media"],"summary":"Update Media","operationId":"updateMedia","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}},{"name":"mediaId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"caption":{"type":"string"}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/business/{businessNumber}/media/delete":{"delete":{"tags":["Business Media"],"summary":"Delete Media","operationId":"deleteMedia","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["mediaId"],"properties":{"mediaId":{"type":"integer"}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/social/{accountNumber}/schedule":{"post":{"tags":["Social"],"summary":"Schedule Social Post","operationId":"scheduleSocialPost","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"accountNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["content","platforms","scheduledAt"],"properties":{"content":{"type":"string"},"platforms":{"type":"array","items":{"type":"string"}},"scheduledAt":{"type":"string"},"mediaUrls":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/social/post/public/scheduled/edit/{accountNumber}":{"post":{"tags":["Social"],"summary":"Edit Scheduled Social Post","operationId":"editScheduledSocialPost","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"accountNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"trackingId":{"type":"string"},"content":{"type":"string"},"scheduledAt":{"type":"string"}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/social/post/public/published/edit/{accountNumber}":{"post":{"tags":["Social"],"summary":"Edit Published Social Post","operationId":"editPublishedSocialPost","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"accountNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"trackingId":{"type":"string"},"content":{"type":"string"}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/social/post/public/delete/{accountNumber}":{"post":{"tags":["Social"],"summary":"Delete Social Post","operationId":"deleteSocialPost","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"accountNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["trackingId"],"properties":{"trackingId":{"type":"string"}}}}}},"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/social/{accountNumber}/post/track/{trackingId}":{"get":{"tags":["Social"],"summary":"Track Social Post","operationId":"trackSocialPost","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"accountNumber","in":"path","required":true,"schema":{"type":"string"}},{"name":"trackingId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/social/open-url/performance/report":{"post":{"tags":["Social"],"summary":"Social Open URL Performance Report","operationId":"getSocialPerformanceReport","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["businessId"],"properties":{"businessId":{"type":"integer"},"fromDate":{"type":"string"},"toDate":{"type":"string"},"channels":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/employee/{businessId}":{"get":{"tags":["Employee"],"summary":"Get Employees","operationId":"getEmployees","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/messenger/export":{"post":{"tags":["Conversation"],"summary":"List Conversations","operationId":"listConversations","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"businessId":{"type":"integer"},"fromDate":{"type":"string"},"toDate":{"type":"string"},"sindex":{"type":"integer"},"count":{"type":"integer"},"channel":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/subscriptions/subscribe":{"post":{"tags":["Subscription"],"summary":"Create Subscription","operationId":"createSubscription","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["callbackUrl","events"],"properties":{"callbackUrl":{"type":"string"},"events":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/subscriptions/unsubscribe/{subscriptionId}":{"get":{"tags":["Subscription"],"summary":"Unsubscribe","operationId":"unsubscribe","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"},{"name":"subscriptionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"businessId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/messenger/webhook/event":{"get":{"tags":["Webhook"],"summary":"List Webhook Events","operationId":"listWebhookEvents","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}},"/v1/messenger/subscribe/webhook/event":{"post":{"tags":["Webhook"],"summary":"Create Webhook Subscription","operationId":"createWebhookSubscription","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string"},"description":"Your Birdeye API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["businessId","callbackUrl","events"],"properties":{"businessId":{"type":"integer"},"callbackUrl":{"type":"string"},"secret":{"type":"string"},"events":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}},"security":[{"ApiKeyAuth":[]}]}}}}