swagger: '2.0'
info:
  title: Birdeye
  version: ''
  description: |-
    Birdeye helps businesses grow through happy customers. Over 80,000 businesses use Birdeye everyday to attract new leads with Listings, Reviews and Referrals, convert them into customers with Webchat, Appointments, and Payments, and delight those customers with Surveys, Ticketing, and Insights - all in one place.

    The Birdeye APIs are built on HTTP and are RESTful APIs.

    * Uses resource-oriented URLs.

    * Uses built-in HTTP capabilities for passing parameters and authentication.

    * Responds with standard HTTP response codes to indicate errors.

    * Requests and responses payload attached with all the mentioned APIs, you may choose your preferred language per the integration requirement.

    ### Authentication and Rate limiting

    > __NOTE:__
    > - __All API requests targeting business accounts must include the x-api-key header. This header is required and mandatory for successful authentication and access to the API endpoints.__
    >
    > - __To protect your API key and prevent unauthorized access, please ensure all API requests are made from your backend server. Do not call the APIs directly from the browser or expose your API key in any client-side code.__

    To call a Birdeye API, you need a valid API key. It can be fetched via the Birdeye dashboard and is a confidential key.

    There is a limit to calling APIs with each API key [connect with the support team to get the current limit]. If too many requests are made within the threshold timeframe, an error will be returned in the response.

    ### Pagination

    Multiple API supporting pagination. These APIs have two parameters sindex and count.

    * <b>sindex:</b> is the start index

    * <b>count:</b> No. of records, you want to fetch.

    > __Note__
    > - _Deep Pagination with record window greater than 100k is not supported. Either reduce the sindex + count to be less than equal to 100k or use appropriate filters to narrow down your result set._

    <b>For example :</b>

    * Suppose you have to fetch 20 records:
    <pre><code>
    API call 1 -> sindex=0, count 10
    API call 2 -> sindex -> 10, count 10.
    </pre></code>

    * To fetch 100kth record:
    <pre><code>
    sindex = 99000 and count = 1000
    will just work fine as sindex + count = 100000 which is less than 100,000.
    </pre></code>

    * If you fetch more than 100kth records:
    <pre><code>
    sindex = 99000 and count = 1001, sindex + count = 100001
    which is greater than 100,000. Thus, you'll receive an error in response.
    </pre></code>

    ### HTTP Status Codes

    Every API response will have an HTTP status code.

    * <b>200 - OK:</b> API request is successful

    * <b>202 - Accepted:</b> The API request has been accepted for processing.

    * <b>400 - Bad Request:</b> The API request was unacceptable, often due to a missing or invalid parameter.

    * <b>404 - Not Found:</b> The requested resource does not exist.

    * <b>429 - Rate Limited:</b> You have made too many requests within the threshold timeframe.

    * <b>500 - Internal Server Error:</b> Something went wrong on our end. Please get in touch with support.

    ### Error Response

    Birdeye API will return a validation error in case of missing/invalid input in the request. The response will return the errorCode and errorMessage.

    For example :
    <pre><code>
    {
        "code": 1161,
        "message": "Invalid API key"
    }
    </pre></code>
host: api.birdeye.com
basePath: /resources
schemes:
  - https
paths:
  /v1/signup/reseller/subaccount:
    post:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              businessId: 653356544
          schema:
            type: object
            properties:
              businessId:
                type: number
                description: Id of the created business
        '400':
          description: Bad Request
          headers: {}
          examples:
            application/json:
              code: 2166
              message: Invalid Business Type
          schema:
            $ref: '#/definitions/2166Model'
        '401':
          description: Unauthorized
          headers: {}
          examples:
            application/json:
              code: 1033
              message: You are not authorized to perform this action
          schema:
            $ref: '#/definitions/1033Model'
        '404':
          description: Not Found
          headers: {}
          examples:
            application/json:
              code: 1010
              message: No user found with the given id
          schema:
            $ref: '#/definitions/1010Model'
        '429':
          description: Too Many Requests
          headers: {}
          examples:
            application/json:
              code: 89
              message: Rate limit exceeded
          schema:
            $ref: '#/definitions/89Model'
      summary: Create a business
      operationId: Create a business
      description: ''
      tags:
        - Business
      parameters:
        - name: rid
          in: query
          description: Id of the Reseller.
          required: true
          x-example: '12334667201'
          type: number
        - name: email_id
          in: query
          description: Business Email id.
          required: true
          x-example: sample@birdeye.com
          type: string
        - name: Accept
          in: header
          description: e.g. application/json
          required: false
          x-example: application/json
          type: string
        - name: x-api-key
          in: header
          description: e.g. [Required] Partner specific API key provided by Birdeye for data exchange.
          required: false
          x-example: '[Required] Partner specific API key provided by Birdeye for data exchange.'
          type: string
        - name: body
          in: body
          schema:
            type: object
            properties:
              businessName:
                type: string
                description: Name of the Business that needs to be added
              zip:
                type: string
                description: Postal code of the business location
              type:
                type: string
                description: |-
                  Type of the Business. Valid values are

                      Business,
                      Enterprise-Location,
                      Enterprise-Product,
                      Reseller
                      or a existing custom hierarchy type. Default is: Business.
              phone:
                type: number
                description: Phone number of the Business.
              entityCategory:
                type: string
                description: |-
                  Specifies the category of the business entity being created or updated. Valid values are:

                  physical_location,provider.
                  physical_location represents a physical office, branch, or storefront location.
                  provider represents an individual practitioner or provider (e.g. doctor, dentist, loan officer) operating within one or more physical locations.
                  If entityCategory is not provided, the entity is created as physical_location by default.
              countryCode:
                type: string
                description: This field is mandatory for non US locations.
              aggrOptions:
                type: number
                description: |-
                  Aggregation Options to enable/disable aggregations. Possible values are [0,1]

                      0 to Disable Search Business
                      1 to Enable Search Business,

                  If aggrOptions is not provided, then Search Business is enabled.
            required:
              - businessName
              - zip
              - phone
            example:
              businessName: The Business Name
              zip: 32323
              type: Business
              phone: '4032365164'
              entityCategory: physical_location
              countryCode: US
              aggrOptions: 1
      produces:
        - application/json
      consumes:
        - application/json
  /v1/business/{businessNumber}/search:
    post:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              accounts:
                - name: Thurston Rosenlund
                  status: suspended
                  createdAt: May 01, 2013
                  createdBy: Sam Bilings
                  businessNumber: 396982176121
                  type: Business
                - name: Aspen Springs Dental
                  status: paid
                  createdAt: May 20, 2013
                  businessNumber: 106026111239
                  type: Business
                - name: Cherry Creek Family Dental
                  status: paid
                  createdAt: May 20, 2013
                  businessNumber: 379451236128
                  type: Business
              totalCount: 44
          schema:
            type: object
            properties:
              totalCount:
                type: number
                description: The total number of search matches.
              accounts:
                type: array
                description: Search results
                items: {}
        '400':
          description: Bad Request
          headers: {}
          examples:
            application/json:
              code: 400
              message: Page size must not be less than one!
          schema:
            $ref: '#/definitions/400Model'
        '401':
          description: Unauthorized
          headers: {}
          examples:
            application/json:
              code: 1161
              message: Invalid API key
          schema:
            $ref: '#/definitions/1161Model'
        '429':
          description: Too Many Requests
          headers: {}
          examples:
            application/json:
              code: 89
              message: Rate limit exceeded
          schema:
            $ref: '#/definitions/89Model'
      summary: Search Business
      operationId: Search Business
      description: ''
      tags:
        - Business
      parameters:
        - name: businessNumber
          in: path
          description: Long id of the business, under which user wants to search for.
          required: true
          x-example: '169744180007807'
          type: number
        - name: Accept
          in: header
          description: e.g. application/json
          required: false
          x-example: application/json
          type: string
        - name: x-api-key
          in: header
          description: e.g. [Required] Partner specific API key provided by Birdeye for data exchange.
          required: false
          x-example: '[Required] Partner specific API key provided by Birdeye for data exchange.'
          type: string
        - name: body
          in: body
          schema:
            type: object
            properties:
              searchStr:
                type: string
                description: Search criteria for business. This could be business name or number.
              sortBy:
                type: string
                description: |-
                  Results can be sorted by name, createdAt, and createdBy. By default is createdAt.

                  name : The business name

                  createdAt: The date on which a business/location was created.

                  createdBy: The full name of the user that created the business.
              sortOrder:
                type: string
                description: The SORT order, Possible values "ASC" or "DESC". By default is "DESC".
              startIndex:
                type: number
                description: Once sorted, it defines starting from which index a page (number of specified search results) is to be created.
              pageSize:
                type: number
                description: Determines the number of search results in the response. Users can set a desired value to limit results, e.g., pageSize=25 shows the top 25 business listings. The Default value is 25.
            example:
              pageSize: 25
              searchStr: Thurston Rosenlund
              sortBy: createdAt
              sortOrder: ASC
              startIndex: 0
      produces:
        - application/json
      consumes:
        - application/json
  /v1/business/{business_id}:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              businessId: 12345678
              name: Dieci Lifestyle Spa
              alias: Dieci Lifestyle Spa - Livingston, NJ
              emailId: 4568@livelovespa.com
              phone: (973) 716-0101
              fax: (973) 716-0102
              websiteURL: http://www.diecispa.com/
              description: |-
                Specialties
                Bridal ServicesMakeup: Makeovers/Lessons/ Faux Lash applicationMassagesFacialsMicrocurrentMicrodermabrasionBody…
              keywords: Hair Salons,Day Spas,Beauty Salon,Beauty Salons,Salons,Massage Therapists
              services: Beauty Salon, Hair Spa
              logoURL: http://d3cnqzq0ivprch.cloudfront.net/prod/css/images/logo.jpg
              coverImageURL: http://d3cnqzq0ivprch.cloudfront.net/common/css/images/profile/spa.jpg
              gmbCover: http://d3cnqzq0ivprch.cloudfront.net/common/css/images/profile/abcd.jpg
              facebookCover: http://d3cnqzq0ivprch.cloudfront.net/common/css/images/profile/fb.jpg
              timezone: Pacific Standard Time
              isServiceAreaProvider: 'Yes'
              serviceAreas:
                - description: 2390 Boston Street, Seattle, WA, 98109
                  placeId: ChIJ9YasdSKZs0wRSt--7QSjsd3
                - description: 400 Boston Street, Seattle, WA, 98109
                  placeId: ChIJ9aasdAOKZasdaSt--7QsdLja4
              languages:
                - English
                - Spanish
              payment: Visa, MasterCard, American Express, Debit Cards, Check
              hoursOfOperations:
                - day: '0'
                  isOpen: 1
                  workingHours:
                    - startHour: '09:00'
                      endHour: '13:30'
                    - startHour: '14:30'
                      endHour: '19:00'
                  comment: ''
                - day: '1'
                  isOpen: 1
                  workingHours:
                    - startHour: '09:00'
                      endHour: '13:30'
                    - startHour: '14:30'
                      endHour: '19:00'
                  comment: ''
                - day: '2'
                  isOpen: 1
                  workingHours:
                    - startHour: '09:00'
                      endHour: '13:30'
                    - startHour: '14:30'
                      endHour: '19:00'
                  comment: ''
                - day: '3'
                  isOpen: 1
                  workingHours:
                    - startHour: '09:00'
                      endHour: '13:30'
                    - startHour: '14:30'
                      endHour: '19:00'
                  comment: ''
                - day: '4'
                  isOpen: 1
                  workingHours:
                    - startHour: '09:00'
                      endHour: '13:30'
                    - startHour: '14:30'
                      endHour: '19:00'
                  comment: ''
                - day: '5'
                  isOpen: 1
                  workingHours:
                    - startHour: '09:00'
                      endHour: '13:30'
                    - startHour: '14:30'
                      endHour: '19:00'
                  comment: ''
                - day: '6'
                  isOpen: 0
              working24x7: 0
              location:
                address1: 90 W Mount Pleasant Ave
                address2: (btwn Preston Dr. &amp; N. Mitchell Ave.)
                subLocality: Auckland CBD
                city: Livingston
                state: NJ
                zip: '07039'
                countryCode: US
                countryName: United States of America
              reviewCount: 53
              avgRating: 3.4
              status: active
              type: Business
              category: Hair Salons,Day Spas,Beauty Salon,Beauty Salons,Salons,Massage Therapists
              socialProfileURLs:
                googleUrl: 'null'
                facebookUrl: null
                twitterUrl: null
                linkedinUrl: null
                youTubeUrl: null
              isSEOEnabled: 'false'
              baseUrl: https://birdeye.com/diecispa-755009344
          schema:
            type: object
            properties:
              businessId:
                type: number
                description: Id of the Business (Long).
              name:
                type: string
                description: Name of the Business/Product (Max 1000 character long).
              alias:
                type: string
                description: Alias, Your internal way of identifying this location.
              emailId:
                type: string
                description: Business Email ID.
              phone:
                type: string
                description: Business Phone (Required) Format is (xxx) xxx-xxxx.
              fax:
                type: string
                description: Fax number Format is (xxx) xxx-xxxx.
              websiteUrl:
                type: string
                description: Business website url.
              description:
                type: string
                description: Description of the business (10 to 4000 character long).
              services:
                type: string
                description: Services (Comma separated list of services offered; used for SEO).
              keywords:
                type: string
                description: Keywords (Comma separated list of keywords; Max 10 keywords; used for SEO).
              logoUrl:
                type: string
                description: 'prod.s3.amazonaws.com/669029760/Logo 180 X 121.png (string) - Logo Image. Minimum 250 x 250px. Recommended: 720 X 720 px. 10 KB min.'
              coverImageUrl:
                type: string
                description: Cover Image (Dimension should be 1296 x 367 px).
              gmbCover:
                type: string
                description: Google Cover Image Url.
              facebookCover:
                type: string
                description: Facebook Cover Image Url.
              timezone:
                type: string
                description: Timezone of the business.
              languages:
                type: array
                description: Language.
                items: {}
              isServiceAreaProvider:
                type: string
                description: |-
                  To select whether the business is Service Area Business Type. Default value is : No. Possible values are:

                                          Yes
                                          No
              serviceAreas:
                type: array
                description: Service Area information.
                items: {}
              payment:
                type: string
                description: Payment Type (Max 250 character long).
              hoursOfOperations:
                type: array
                description: Working hours of business for each day.
                items: {}
              working24x7:
                type: number
                description: Whether business is 24x7 open or not (0-false, 1-true).
              location:
                type: object
                properties:
                  address1:
                    type: string
                    description: Address of the business.
                  address2:
                    type: string
                    description: Address of the business.
                  subLocality:
                    type: string
                    description: '(Char 4-80) Mandatory for: New Zealand (Enter the Suburb) Other Countries: This field is not required. Any data entered here for countries outside of New Zealand will be ignored by the system.'
                  city:
                    type: string
                    description: City (Max 1000 character long).
                  state:
                    type: string
                    description: State (2 character state code).
                  countryCode:
                    type: string
                    description: Country Code (2 character country code).
                  zip:
                    type: string
                    description: Zip Code.
                required:
                  - zip
                description: Business address
              reviewCount:
                type: number
                description: Total review count of the business.
              avgRating:
                type: number
                description: Average rating of the business.
              status:
                type: string
                description: Business status. Valid values are demo, active, inactive. Default is
              type:
                type: string
                description: 'Business type. Valid values are "Business, Enterprise-Location, Enterprise-Product, Reseller or a existing custom hierarchy type". Default is:'
              category:
                type: string
                description: Category (Mapped to Google Category).
              socialProfileURLs:
                type: object
                properties:
                  facebookUrl:
                    type: string
                    description: Facebook URL.
                  twitterUrl:
                    type: string
                    description: Business Twitter URL.
                  linkedInUrl:
                    type: string
                    description: Business LinkedId URL.
                  googleUrl:
                    type: string
                    description: US (string)- Business Google URL.
                  youTubeUrl:
                    type: string
                    description: Business Youtube URL.
                description: Profile URLs for business on top rated social sites
              isSEOEnabled:
                type: boolean
                description: Enable/Disbale search engine indexing of business profile. Valid values are "true","false". Default is "true"
            required:
              - services
        '401':
          description: Unauthorized
          headers: {}
          examples:
            application/json:
              code: 1167
              message: API key is missing
          schema:
            $ref: '#/definitions/1167Model'
        '404':
          description: Not Found
          headers: {}
          examples:
            application/json:
              code: 1011
              message: Business id is invalid
          schema:
            $ref: '#/definitions/1011Model'
        '429':
          description: Too Many Requests
          headers: {}
          examples:
            application/json:
              code: 89
              message: Rate limit exceeded
          schema:
            $ref: '#/definitions/89Model'
      summary: Get Business
      operationId: Get Business
      description: ''
      tags:
        - Business
      parameters:
        - name: business_id
          in: path
          description: Id of the Business.
          required: true
          x-example: '12345678'
          type: string
        - name: Accept
          in: header
          description: e.g. application/json
          required: false
          x-example: application/json
          type: string
        - name: x-api-key
          in: header
          description: e.g. [Required] Partner specific API key provided by Birdeye for data exchange.
          required: false
          x-example: '[Required] Partner specific API key provided by Birdeye for data exchange.'
          type: string
      produces:
        - application/json
      consumes:
        - application/json
  /v1/business/{businessId}:
    put:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              name: Dieci Lifestyle Spa
              alias: Dieci Lifestyle Spa - Livingston, NJ
              emailId: 4568@livelovespa.com
              phone: (973) 716-0101
              fax: (973) 716-0102
              websiteUrl: http://www.diecispa.com/
              description: |-
                Specialties
                Bridal ServicesMakeup: Makeovers/Lessons/ Faux Lash applicationMassagesFacialsMicrocurrentMicrodermabrasionBody…
              keywords: Hair Salons,Day Spas,Beauty Salon,Beauty Salons,Salons,Massage Therapists
              services: Beauty Salon, Hair Spa
              logoUrl: http://d3cnqzq0ivprch.cloudfront.net/prod/css/images/logo.jpg
              coverImageUrl: http://d3cnqzq0ivprch.cloudfront.net/common/css/images/profile/spa.jpg
              gmbCover: http://d3cnqzq0ivprch.cloudfront.net/common/css/images/profile/abcd.jpg
              facebookCover: http://d3cnqzq0ivprch.cloudfront.net/common/css/images/profile/fb.jpg
              timezone: Pacific Standard Time
              languages:
                - English
                - Spanish
              isServiceAreaProvider: 'Yes'
              serviceAreas:
                - description: 2390 Boston Street, Seattle, WA, 98109
                  placeId: ChIJ9YasdSKZs0wRSt--7QSjsd3
                - description: 400 Boston Street, Seattle, WA, 98109
                  placeId: ChIJ9aasdAOKZasdaSt--7QsdLja4
              payment: Visa, MasterCard, American Express, Debit Cards, Check
              hoursOfOperations:
                - day: '0'
                  isOpen: 1
                  workingHours:
                    - startHour: '09:00'
                      endHour: '13:30'
                    - startHour: '14:30'
                      endHour: '19:00'
                  comment: ''
                - day: '1'
                  isOpen: 1
                  workingHours:
                    - startHour: '09:00'
                      endHour: '13:30'
                    - startHour: '14:30'
                      endHour: '19:00'
                  comment: ''
                - day: '2'
                  isOpen: 1
                  workingHours:
                    - startHour: '09:00'
                      endHour: '13:30'
                    - startHour: '14:30'
                      endHour: '19:00'
                  comment: ''
                - day: '3'
                  isOpen: 1
                  workingHours:
                    - startHour: '09:00'
                      endHour: '13:30'
                    - startHour: '14:30'
                      endHour: '19:00'
                  comment: ''
                - day: '4'
                  isOpen: 1
                  workingHours:
                    - startHour: '09:00'
                      endHour: '13:30'
                    - startHour: '14:30'
                      endHour: '19:00'
                  comment: ''
                - day: '5'
                  isOpen: 1
                  workingHours:
                    - startHour: '09:00'
                      endHour: '13:30'
                    - startHour: '14:30'
                      endHour: '19:00'
                  comment: ''
                - day: '6'
                  isOpen: 0
              working24x7: 0
              location:
                address1: 90 W Mount Pleasant Ave
                address2: (btwn Preston Dr. &amp; N. Mitchell Ave.)
                city: Livingston
                state: NJ
                zip: '07039'
                countryCode: US
                countryName: United States of America
              categoryList:
                - Hair Salons
              socialProfileURLs:
                googleUrl: 'null'
                facebookUrl: null
                twitterUrl: null
                linkedinUrl: null
                youTubeUrl: null
          schema:
            type: object
            properties:
              name:
                type: string
              alias:
                type: string
              emailId:
                type: string
              phone:
                type: string
              fax:
                type: string
              websiteUrl:
                type: string
              description:
                type: string
              keywords:
                type: string
              services:
                type: string
              logoUrl:
                type: string
              coverImageUrl:
                type: string
              gmbCover:
                type: string
              facebookCover:
                type: string
              timezone:
                type: string
              languages:
                type: array
                items:
                  type: string
              isServiceAreaProvider:
                type: string
              serviceAreas:
                type: array
                items:
                  type: object
                  properties:
                    description:
                      type: string
                    placeId:
                      type: string
                  required:
                    - description
                    - placeId
              payment:
                type: string
              hoursOfOperations:
                type: array
                items:
                  type: object
                  properties:
                    day:
                      type: string
                    isOpen:
                      type: number
                    workingHours:
                      type: array
                      items:
                        type: object
                        properties:
                          startHour:
                            type: string
                          endHour:
                            type: string
                        required:
                          - startHour
                          - endHour
                    comment:
                      type: string
                  required:
                    - day
                    - isOpen
                    - workingHours
                    - comment
              working24x7:
                type: number
              location:
                type: object
                properties:
                  address1:
                    type: string
                  address2:
                    type: string
                  city:
                    type: string
                  state:
                    type: string
                  zip:
                    type: string
                  countryCode:
                    type: string
                  countryName:
                    type: string
              categoryList:
                type: array
                items:
                  type: string
              socialProfileURLs:
                type: object
                properties:
                  googleUrl:
                    type: string
                  facebookUrl:
                    type: 'null'
                  twitterUrl:
                    type: 'null'
                  linkedinUrl:
                    type: 'null'
                  youTubeUrl:
                    type: 'null'
            example:
              name: Dieci Lifestyle Spa
              alias: Dieci Lifestyle Spa - Livingston, NJ
              emailId: 4568@livelovespa.com
              phone: (973) 716-0101
              fax: (973) 716-0102
              websiteUrl: http://www.diecispa.com/
              description: |-
                Specialties
                Bridal ServicesMakeup: Makeovers/Lessons/ Faux Lash applicationMassagesFacialsMicrocurrentMicrodermabrasionBody…
              keywords: Hair Salons,Day Spas,Beauty Salon,Beauty Salons,Salons,Massage Therapists
              services: Beauty Salon, Hair Spa
              logoUrl: http://d3cnqzq0ivprch.cloudfront.net/prod/css/images/logo.jpg
              coverImageUrl: http://d3cnqzq0ivprch.cloudfront.net/common/css/images/profile/spa.jpg
              gmbCover: http://d3cnqzq0ivprch.cloudfront.net/common/css/images/profile/abcd.jpg
              facebookCover: http://d3cnqzq0ivprch.cloudfront.net/common/css/images/profile/fb.jpg
              timezone: Pacific Standard Time
              languages:
                - English
                - Spanish
              isServiceAreaProvider: 'Yes'
              serviceAreas:
                - description: 2390 Boston Street, Seattle, WA, 98109
                  placeId: ChIJ9YasdSKZs0wRSt--7QSjsd3
                - description: 400 Boston Street, Seattle, WA, 98109
                  placeId: ChIJ9aasdAOKZasdaSt--7QsdLja4
              payment: Visa, MasterCard, American Express, Debit Cards, Check
              hoursOfOperations:
                - day: '0'
                  isOpen: 1
                  workingHours:
                    - startHour: '09:00'
                      endHour: '13:30'
                    - startHour: '14:30'
                      endHour: '19:00'
                  comment: ''
                - day: '1'
                  isOpen: 1
                  workingHours:
                    - startHour: '09:00'
                      endHour: '13:30'
                    - startHour: '14:30'
                      endHour: '19:00'
                  comment: ''
                - day: '2'
                  isOpen: 1
                  workingHours:
                    - startHour: '09:00'
                      endHour: '13:30'
                    - startHour: '14:30'
                      endHour: '19:00'
                  comment: ''
                - day: '3'
                  isOpen: 1
                  workingHours:
                    - startHour: '09:00'
                      endHour: '13:30'
                    - startHour: '14:30'
                      endHour: '19:00'
                  comment: ''
                - day: '4'
                  isOpen: 1
                  workingHours:
                    - startHour: '09:00'
                      endHour: '13:30'
                    - startHour: '14:30'
                      endHour: '19:00'
                  comment: ''
                - day: '5'
                  isOpen: 1
                  workingHours:
                    - startHour: '09:00'
                      endHour: '13:30'
                    - startHour: '14:30'
                      endHour: '19:00'
                  comment: ''
                - day: '6'
                  isOpen: 0
              working24x7: 0
              location:
                address1: 90 W Mount Pleasant Ave
                address2: (btwn Preston Dr. &amp; N. Mitchell Ave.)
                city: Livingston
                state: NJ
                zip: '07039'
                countryCode: US
                countryName: United States of America
              categoryList:
                - Hair Salons
              socialProfileURLs:
                googleUrl: 'null'
                facebookUrl: null
                twitterUrl: null
                linkedinUrl: null
                youTubeUrl: null
        '400':
          description: Bad Request
          headers: {}
          examples:
            application/json:
              code: 6001
              message: The 'sub_locality' field cannot exceed 80 characters.
          schema:
            $ref: '#/definitions/6001Model'
        '401':
          description: Unauthorized
          headers: {}
          examples:
            application/json:
              code: 1190
              message: Invalid category
          schema:
            $ref: '#/definitions/1190Model'
        '404':
          description: Not Found
          headers: {}
          examples:
            application/json:
              code: 1175
              message: No business found with the given id
          schema:
            $ref: '#/definitions/1175Model'
        '429':
          description: Too Many Requests
          headers: {}
          examples:
            application/json:
              code: 89
              message: Rate limit exceeded
          schema:
            $ref: '#/definitions/89Model'
      summary: Update Business
      operationId: Update Business
      description: ''
      tags:
        - Business
      parameters:
        - name: businessId
          in: path
          description: The Business Number
          required: true
          x-example: '12345678'
          type: string
        - name: Accept
          in: header
          description: e.g. application/json
          required: false
          x-example: application/json
          type: string
        - name: x-api-key
          in: header
          description: e.g. [Required] Partner specific API key provided by Birdeye for data exchange.
          required: false
          x-example: '[Required] Partner specific API key provided by Birdeye for data exchange.'
          type: string
        - name: body
          in: body
          schema:
            type: object
            properties:
              name:
                type: string
                description: Name of the Business/Product (Max 250 character long).
              alias:
                type: string
                description: Alias, Your internal way of identifying this location.
              isAddressHidden:
                type: number
                description: If your business doesn’t have a place for your customers to visit, then you can hide your street address. 1 -> hide, 0 -> unhide (Note that this isn’t supported by all sites).
              location:
                type: object
                properties:
                  address1:
                    type: string
                    description: Address of the business/location.
                  address2:
                    type: string
                    description: Address of the business/location.
                  subLocality:
                    type: string
                    description: '(Char 4-80) Mandatory for: New Zealand (Enter the Suburb) Other Countries: This field is not required. Any data entered here for countries outside of New Zealand will be ignored by the system.'
                  city:
                    type: string
                    description: City (Max 1000 character long).
                  state:
                    type: string
                    description: State (2 character state code).
                  countryCode:
                    type: string
                    description: Country Code (2 character country code).
                  zip:
                    type: string
                    description: Zip Code.
                required:
                  - zip
                description: Business address
              emailId:
                type: string
                description: Business Email ID.
              phone:
                type: string
                description: Business Phone (Required) Format is (xxx) xxx-xxxx.
              fax:
                type: string
                description: Fax number Format is (xxx) xxx-xxxx.
              websiteUrl:
                type: string
                description: Business website url.
              establishedYear:
                type: number
                description: Year established
              timezone:
                type: string
                description: Timezone of the business.
              languages:
                type: array
                description: Language.
              isServiceAreaProvider:
                type: string
                description: |-
                  To select whether the business is Service Area Business Type. Default value is : No.

                                Possible values are:
                                              Yes
                                              No
              serviceAreas:
                type: array
                description: Service Area information. You can enter upto 10 service area addresses in one request
              working24x7:
                type: number
                description: Whether business is 24x7 open or not (0-false, 1-true).
              hoursOfOperations:
                type: array
                description: Working hours of business for each day.
              specialHours:
                type: array
                description: Special hours of business.
              businessStatus:
                type: string
                description: The business status on the listing page can be set to Open, Temporarily Closed, Permanently Closed, or Opening Soon. A Reopen Date is mandatory for 'Temporarily Closed' and 'Opening Soon' statuses, while optional for 'Open'.
              reopenDate:
                type: string
                description: Reopen Date is required for the 'Temporarily Closed' and 'Opening Soon' statuses, and optional for 'Open.' The date must be in the 'MM/dd/yyyy' format.
              services:
                type: string
                description: Services (Comma separated list of services offered; used for SEO).
              keywords:
                type: string
                description: Keywords about the business. Useful in SEO. Business keyword cannot be more than 1000 characters.
              products:
                type: string
              appointmentLink:
                type: string
                description: Let customers book appointments by redirecting them to your appointments page.
              reservationLink:
                type: string
                description: Let customers reserve tables by linking them to your reservations page.
              menuLink:
                type: string
                description: Show customers what you serve by linking them to your menu.
              orderAheadLink:
                type: string
                description: Let customers place delivery and pick-up orders by linking them to your ordering page.
              impressum:
                type: string
                description: In certain countries (like Austria, Germany and Switzerland), businesses may be required by law to include a statement of ownership on their web presence.
              payment:
                type: string
                description: Payment Type (Max 250 character long).
              localPhoneNumber:
                type: string
                description: Local phone number.
              tollFreePhoneNumber:
                type: string
                description: Tollfree number.
              androidAppURL:
                type: string
                description: Android app url.
              iosAppURL:
                type: string
                description: IOS app url.
              logoUrl:
                type: string
                description: 'prod.s3.amazonaws.com/669029760/Logo 180 X 121.png (string) - Logo Image. Minimum 250 x 250px. Recommended: 720 X 720 px. 10 KB min.'
              gmbLogoOptOut:
                type: number
                description: Update profile photo on your google my business page. (1-false,0-true).
              fbLogoOptOut:
                type: number
                description: Update profile photo on your facebook profile. (1-false,0-true).
              gmbCoverOptOut:
                type: number
                description: Update cover photo on your google my business page. (1-false,0-true).
              fbCoverOptOut:
                type: number
                description: Update cover photo on your facebook profile. (1-false,0-true).
              coverImageUrl:
                type: string
                description: 'Cover image URL for business displayed on custom review site. Format: JPG, JPEG, PNG. Minimum 1296 x 367px.'
              gmbCover:
                type: string
                description: Google Cover Image Url.
              facebookCover:
                type: string
                description: Facebook Cover Image Url.
              coverBusinessInfoLayout:
                type: string
                description: |-
                  Show on your Birdeye profile. Possible value will be

                      In grid cover image, business info overlay
                      In grid cover image, business info below
                      Full width cover image, business info overlay
                      Full width cover image, business info below
                      Google map view, business info overlay
              covidInfo:
                type: object
                properties:
                  postDescription:
                    type: string
                    description: Post will be update on gmb & FB
                  covid19SupportLink:
                    type: string
                    description: Should be a valid covid19 support url
                  virtualCareLink:
                    type: string
                    description: Should be a valid url virtual care link
                description: Provide covid related update in.
              bingListing:
                type: object
                properties:
                  primaryCategoryBing:
                    type: string
                    description: Primary category of bing.
                  bingPhoneNumber:
                    type: string
                    description: You can provide a phone number which will be pushed only to your Bing listing site and will override the primary phone number set.
                  categories:
                    type: string
                    description: You can add up to 3 categories.
                  bingDescription:
                    type: string
                    description: Bing description cannot be more than 4096 characters.
                description: Provide bing data for listing purpose.
              internalListing:
                type: object
                properties:
                  description:
                    type: string
                    description: Business description cannot be more than 5000 characters.
                  category:
                    type: string
                    description: Primary category of business.
                  subcategory:
                    type: string
                    description: You can add up to 3 subcategories.
                  displayCategory:
                    type: string
                    description: Choose one of the category either from primary category or from sub categories.
                required:
                  - category
                  - subcategory
                description: Provide data for microsite listing purpose.
              facebookListing:
                type: object
                properties:
                  category:
                    type: string
                    description: You can add up to 3 categories.
                  facebookDescription:
                    type: string
                    description: Facebook description cannot be more than 255 characters.
                  facebookPhoneNumber:
                    type: string
                    description: Phone number for facebook profile. This phone number will override the main phone number on your Facebook business page
                description: Provide data for facebook listing purpose.
              gmbListing:
                type: object
                properties:
                  googleWebsiteUrl:
                    type: string
                    description: Website url will update on google listing.
                  googlePhoneNumber:
                    type: string
                    description: You can provide a phone number which will be pushed only to your google listing site and will override the primary phone number set.
                  googleStoreId:
                    type: string
                    description: Store id for google.
                  primaryCategoryGmb:
                    type: string
                    description: Primary category of google.
                  additionalCategory:
                    type: string
                    description: You can add up to 9 subcategories.
                  googleDescription:
                    type: string
                    description: Google description cannot be more than 750 characters.
                  attributes:
                    type: object
                    properties: {}
                    description: |-
                      Google my business attributes are highly visible statements about your business that appear on your Google My Business listing. Supported attributes are

                          Accessibility,Amenities,Crowd,Dining options,Highlights,Planning,Offerings,Health & safety.
                  foodDelivery:
                    type: string
                    description: Enter the redirect URL where customers can place delivery orders.This field is applicable for hospitality business and is category dependent.Example http://www.ubereats.com
                  foodTakeout:
                    type: string
                    description: 'Enter the redirect URL where customers can place ''takeout'' food orders. This field is applicable for hospitality business and is category dependent.Example : http://www.ubereats.com'
                description: Provide data for gmb listing purpose.
              socialProfileURLs:
                type: object
                properties:
                  facebookUrl:
                    type: string
                    description: Facebook URL.
                  twitterUrl:
                    type: string
                    description: Business Twitter URL.
                  linkedInUrl:
                    type: string
                    description: Business LinkedId URL.
                  googleUrl:
                    type: string
                    description: US (string)- Business Google URL.
                  youTubeUrl:
                    type: string
                    description: Business Youtube URL.
                description: Profile URLs for business on top rated social sites
              isSEOEnabled:
                type: boolean
                description: Enable/Disbale search engine indexing of business profile. Valid values are "true","false". Default is "true".
              externalReferenceId:
                type: string
                description: It should be a unique value for location identifier.
              customFields:
                type: object
                properties:
                  type:
                    type: string
                    description: Type of field.
                  fieldValue:
                    type: string
                    description: Custom field value.
                  fieldName:
                    type: string
                    description: Name of custom field (Make sure to enter the same fieldName or else the new field will be created).
                  id:
                    type: number
                    description: fieldId of the custom field created earlier.
                required:
                  - fieldName
                  - id
                description: Custom Field To be Updated
              entityCategory:
                type: string
                description: |-
                  Specifies the category of the business entity being created or updated. Valid values are:

                  physical_location,provider.
                  physical_location represents a physical office, branch, or storefront location.
                  provider represents an individual practitioner or provider (e.g. doctor, dentist, loan officer) operating within one or more physical locations.
                  If entityCategory is not provided, the entity is created as physical_location by default.
            required:
              - emailId
              - phone
              - services
      produces:
        - application/json
      consumes:
        - application/json
  /v1/business/{business_Id}:
    delete:
      responses:
        '200':
          description: OK
          headers: {}
          examples: {}
        '400':
          description: Bad Request
          headers: {}
          examples:
            application/json:
              code: 1174
              message: Reseller can't be removed as it has child accounts.
          schema:
            $ref: '#/definitions/1174Model'
        '401':
          description: Unauthorized
          headers: {}
          examples:
            application/json:
              code: 1167
              message: API key is missing
          schema:
            $ref: '#/definitions/1167Model'
        '404':
          description: Not Found
          headers: {}
          examples:
            application/json:
              code: 1175
              message: No business found with the given id
          schema:
            $ref: '#/definitions/1175Model'
        '429':
          description: Too Many Requests
          headers: {}
          examples:
            application/json:
              code: 89
              message: Rate limit exceeded
          schema:
            $ref: '#/definitions/89Model'
      summary: Delete Business
      operationId: Delete Business
      description: ''
      tags:
        - Business
      parameters:
        - name: business_Id
          in: path
          description: Id of the Business.
          required: true
          x-example: '12345678'
          type: string
        - name: Accept
          in: header
          description: e.g. application/json
          required: false
          x-example: application/json
          type: string
        - name: x-api-key
          in: header
          description: e.g. [Required] Partner specific API key provided by Birdeye for data exchange.
          required: false
          x-example: '[Required] Partner specific API key provided by Birdeye for data exchange.'
          type: string
      produces:
        - application/json
      consumes:
        - application/json
  /v1/business/{business_id}/status:
    put:
      responses:
        '200':
          description: OK
          headers: {}
          examples: {}
        '400':
          description: Bad Request
          headers: {}
          examples:
            application/json:
              code: 1191
              message: Invalid status.
          schema:
            $ref: '#/definitions/1191Model'
        '401':
          description: Unauthorized
          headers: {}
          examples:
            application/json:
              code: 1167
              message: API key is missing
          schema:
            $ref: '#/definitions/1167Model'
        '403':
          description: Forbidden
          headers: {}
          examples:
            application/json:
              code: 1184
              message: Status change is not allowed
          schema:
            $ref: '#/definitions/1184Model'
        '404':
          description: Not Found
          headers: {}
          examples:
            application/json:
              code: 1175
              message: No business found with the given id
          schema:
            $ref: '#/definitions/1175Model'
        '429':
          description: Too Many Requests
          headers: {}
          examples:
            application/json:
              code: 89
              message: Rate limit exceeded
          schema:
            $ref: '#/definitions/89Model'
      summary: Update the status
      operationId: Update the status
      description: ''
      tags:
        - Business
      parameters:
        - name: business_id
          in: path
          description: Business id whose status has to be changed. Returned by create business API
          required: true
          x-example: '12345678'
          type: string
        - name: astatus
          in: query
          description: New status for the business. Valid values are "active/inactive".
          required: true
          x-example: inactive
          type: string
        - name: Accept
          in: header
          description: e.g. application/json
          required: false
          x-example: application/json
          type: string
        - name: x-api-key
          in: header
          description: e.g. [Required] Partner specific API key provided by Birdeye for data exchange.
          required: false
          x-example: '[Required] Partner specific API key provided by Birdeye for data exchange.'
          type: string
      produces:
        - application/json
      consumes:
        - application/json
  /v1/business/child/all:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              - id: 986031488
                name: Central Ohio Endodontics
                alias: Central Ohio Endodontics - Dublin, OH
                address:
                  address1: 5152 Blazer Memorial Pkwy
                  address2: Ste 102
                  subLocality: Auckland CBD
                  city: Dublin
                  state: OH
                  zip: '43017'
                  countryCode: US
                  countryName: United States of America
                phone: (614) 896-2801
                type: Business
                status: active
                createdOn: Dec 04, 2013
                createdBy: Sam Bilings
              - id: 768996864
                name: Environmental Pest Management
                alias: Environmental Pest Management - Westerville, OH
                address:
                  address1: 200 Hoff Rd
                  address2: Unit P
                  subLocality: Auckland CBD
                  city: Westerville
                  state: OH
                  zip: '43082'
                  countryCode: US
                  countryName: United States of America
                phone: (614) 771-8605
                type: Business
                status: active
                createdOn: Dec 05, 2013
                createdBy: Sam Bilings
              - id: 144670708364016
                name: Sub-reseller
                alias: Sub-reseller
                status: active
                createdOn: Nov 05, 2013
                type: Reseller
                childCount: 1
              - id: 144670708364322
                name: Holiday Inn
                alias: Holiday Inn
                status: active
                createdOn: Nov 01, 2013
                type: Enterprise-Location
                childCount: 2
          schema:
            type: array
            items: {}
      summary: Get Child Businesses
      operationId: Get Child Businesses
      description: ''
      tags:
        - Business
      parameters:
        - name: pid
          in: query
          description: Reseller/Sub-reseller/Enterprise Id.
          required: true
          x-example: '12345678'
          type: number
        - name: Accept
          in: header
          description: e.g. application/json
          required: false
          x-example: application/json
          type: string
        - name: x-api-key
          in: header
          description: e.g. [Required] Partner specific API key provided by Birdeye for data exchange.
          required: false
          x-example: '[Required] Partner specific API key provided by Birdeye for data exchange.'
          type: string
      produces:
        - application/json
      consumes:
        - application/json
  /v1/business/tabs:
    post:
      responses:
        '200':
          description: OK
          headers: {}
          examples: {}
        '400':
          description: Bad Request
          headers: {}
          examples:
            application/json:
              code: 1191
              message: Invalid status.
          schema:
            $ref: '#/definitions/1191Model'
        '401':
          description: Unauthorized
          headers: {}
          examples:
            application/json:
              code: 1167
              message: API key is missing
          schema:
            $ref: '#/definitions/1167Model'
        '403':
          description: Forbidden
          headers: {}
          examples:
            application/json:
              code: 1184
              message: Status change is not allowed
          schema:
            $ref: '#/definitions/1184Model'
        '404':
          description: Not Found
          headers: {}
          examples:
            application/json:
              code: 1175
              message: No business found with the given id
          schema:
            $ref: '#/definitions/1175Model'
        '429':
          description: Too Many Requests
          headers: {}
          examples:
            application/json:
              code: 89
              message: Rate limit exceeded
          schema:
            $ref: '#/definitions/89Model'
      summary: Update public profile of Businesses
      operationId: Update public profile of Businesses
      description: ''
      tags:
        - Business
      parameters:
        - name: businessId
          in: query
          description: Id of the Business.
          required: true
          x-example: '12345678'
          type: string
        - name: Accept
          in: header
          description: e.g. application/json
          required: false
          x-example: application/json
          type: string
        - name: x-api-key
          in: header
          description: e.g. [Required] Partner specific API key provided by Birdeye for data exchange.
          required: false
          x-example: '[Required] Partner specific API key provided by Birdeye for data exchange.'
          type: string
        - name: body
          in: body
          schema:
            type: object
            properties:
              profileTabs:
                type: array
            example:
              profileTabs:
                - tabType: map
                  label: map location
                  showOnProfile: 0
                  showOnWebsite: 1
                  showOnFacebook: 1
                  url: http://www.mapurl.com
                - tabType: Feedback
                  label: Feedback
                  showOnProfile: 0
                  showOnWebsite: 1
                  showOnFacebook: 1
                  url: http://www.feedback.com
      produces:
        - application/json
      consumes:
        - application/json
  /v1/business/{businessId}/hierarchy:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              id: 143424324234234
              name: Psychiatry
              alias: null
              address: null
              phone: null
              status: active
              createdOn: Sep 03, 2016
              type: Department
              websiteUrl: null
              child:
                - id: 147293020095434
                  name: Addiction Psychiatry
                  alias: null
                  address: null
                  phone: null
                  status: active
                  createdOn: Sep 03, 2016
                  type: Specialty
                  websiteUrl: null
                  child:
                    - id: 147293022348715
                      name: NYC Center for Treatment and Research
                      alias: null
                      address: null
                      phone: null
                      status: active
                      createdOn: Sep 03, 2016
                      type: Practice
                      websiteUrl: null
                      child:
                        - id: 1467324432430144
                          name: Anna B. B., M.D
                          alias: Anna B. B., M.D
                          address:
                            address1: NYC Center for Treatment and Research
                            address2: 561 West 35th Street, 11th Floor
                            subLocality: Auckland CBD
                            city: New York
                            state: NY
                            zip: '10036'
                            countryCode: US
                            countryName: United States of America
                          phone: '646-xxx-xxxx '
                          status: active
                          createdOn: Jun 30, 2016
                          type: Physician
                          websiteUrl: https://google.org/abbnyc
                          child: []
              parents:
                - id: 148189355091299
                  name: Neurology
                  alias: null
                  address: null
                  phone: null
                  status: active
                  createdOn: Dec 16, 2016
                  type: Specialty
                  websiteUrl: null
                  tags: null
                  child: []
                  parents: []
          schema:
            type: object
            properties:
              id:
                type: number
              name:
                type: string
              alias:
                type: 'null'
              address:
                type: 'null'
              phone:
                type: 'null'
              status:
                type: string
              createdOn:
                type: string
              type:
                type: string
              websiteUrl:
                type: 'null'
              child:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    name:
                      type: string
                    alias:
                      type: 'null'
                    address:
                      type: 'null'
                    phone:
                      type: 'null'
                    status:
                      type: string
                    createdOn:
                      type: string
                    type:
                      type: string
                    websiteUrl:
                      type: 'null'
                    child:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                          alias:
                            type: 'null'
                          address:
                            type: 'null'
                          phone:
                            type: 'null'
                          status:
                            type: string
                          createdOn:
                            type: string
                          type:
                            type: string
                          websiteUrl:
                            type: 'null'
                          child:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                                alias:
                                  type: string
                                address:
                                  type: object
                                  properties:
                                    address1:
                                      type: string
                                    address2:
                                      type: string
                                    subLocality:
                                      type: string
                                    city:
                                      type: string
                                    state:
                                      type: string
                                    zip:
                                      type: string
                                    countryCode:
                                      type: string
                                    countryName:
                                      type: string
                                phone:
                                  type: string
                                status:
                                  type: string
                                createdOn:
                                  type: string
                                type:
                                  type: string
                                websiteUrl:
                                  type: string
                                child:
                                  type: array
                                  items: {}
              parents:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    name:
                      type: string
                    alias:
                      type: 'null'
                    address:
                      type: 'null'
                    phone:
                      type: 'null'
                    status:
                      type: string
                    createdOn:
                      type: string
                    type:
                      type: string
                    websiteUrl:
                      type: 'null'
                    tags:
                      type: 'null'
                    child:
                      type: array
                      items: {}
                    parents:
                      type: array
                      items: {}
            example:
              id: 143424324234234
              name: Psychiatry
              alias: null
              address: null
              phone: null
              status: active
              createdOn: Sep 03, 2016
              type: Department
              websiteUrl: null
              child:
                - id: 147293020095434
                  name: Addiction Psychiatry
                  alias: null
                  address: null
                  phone: null
                  status: active
                  createdOn: Sep 03, 2016
                  type: Specialty
                  websiteUrl: null
                  child:
                    - id: 147293022348715
                      name: NYC Center for Treatment and Research
                      alias: null
                      address: null
                      phone: null
                      status: active
                      createdOn: Sep 03, 2016
                      type: Practice
                      websiteUrl: null
                      child:
                        - id: 1467324432430144
                          name: Anna B. B., M.D
                          alias: Anna B. B., M.D
                          address:
                            address1: NYC Center for Treatment and Research
                            address2: 561 West 35th Street, 11th Floor
                            subLocality: Auckland CBD
                            city: New York
                            state: NY
                            zip: '10036'
                            countryCode: US
                            countryName: United States of America
                          phone: '646-xxx-xxxx '
                          status: active
                          createdOn: Jun 30, 2016
                          type: Physician
                          websiteUrl: https://google.org/abbnyc
                          child: []
              parents:
                - id: 148189355091299
                  name: Neurology
                  alias: null
                  address: null
                  phone: null
                  status: active
                  createdOn: Dec 16, 2016
                  type: Specialty
                  websiteUrl: null
                  tags: null
                  child: []
                  parents: []
        '401':
          description: Unauthorized
          headers: {}
          examples:
            application/json:
              code: 1167
              message: API key is missing
          schema:
            $ref: '#/definitions/1167Model'
        '429':
          description: Too Many Requests
          headers: {}
          examples:
            application/json:
              code: 89
              message: Rate limit exceeded
          schema:
            $ref: '#/definitions/89Model'
      summary: Get hierarchy for an enterprise
      operationId: Get hierarchy for an enterprise
      description: ''
      tags:
        - Business
      parameters:
        - name: businessId
          in: path
          description: Id of the Business.
          required: true
          x-example: '12345678'
          type: string
        - name: Accept
          in: header
          description: e.g. application/json
          required: false
          x-example: application/json
          type: string
        - name: x-api-key
          in: header
          description: e.g. [Required] Partner specific API key provided by Birdeye for data exchange.
          required: false
          x-example: '[Required] Partner specific API key provided by Birdeye for data exchange.'
          type: string
      produces:
        - application/json
      consumes:
        - application/json
  /v1/business/business-hierarchy/location/update-mapping/{businessId}:
    post:
      responses:
        '200':
          description: OK
          headers: {}
          examples: {}
        '401':
          description: Unauthorized
          headers: {}
          examples:
            application/json:
              code: 1011
              message: Business id is invalid
          schema:
            $ref: '#/definitions/1011Model'
        '429':
          description: Too Many Requests
          headers: {}
          examples:
            application/json:
              code: 89
              message: Rate limit exceeded
          schema:
            $ref: '#/definitions/89Model'
      summary: Update Hierarchy
      operationId: Update Hierarchy
      description: ''
      tags:
        - Business
      parameters:
        - name: businessId
          in: path
          description: Id of the Business.
          required: true
          x-example: '12345678'
          type: string
        - name: Accept
          in: header
          description: e.g. application/json
          required: false
          x-example: application/json
          type: string
        - name: x-api-key
          in: header
          description: e.g. [Required] Partner specific API key provided by Birdeye for data exchange.
          required: false
          x-example: '[Required] Partner specific API key provided by Birdeye for data exchange.'
          type: string
        - name: body
          in: body
          schema:
            type: object
            properties:
              Level:
                type: string
                description: It will be a key-value pair for each level with its corresponding level value.
            example:
              Division: Division 3
              Region: Region 3
              RD: Richard Steves
              Department: Store 3
      produces:
        - application/json
      consumes:
        - application/json
  /v1/business/{businessNumber}/profile/customcard:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              customCardDetails:
                - cardId: 5531
                  title: Mathew
                  description: Card description
                  imageURL: https://d2xt3xymj142xp.cloudfront.net/63936/fileUpload/936_16768607_FRetIc.jpeg
                  imagePosition: '2'
                  isVisible: 1
                  clickURL: https://www.abcdef.com
                  linkText: Learn More
                - cardId: 5533
                  title: Steve Smith
                  description: Card description
                  imageURL: https://d2xt3xymj142xp.cloudfront.net/63936/fileUpload/63676550205863_FRetIc.jpeg
                  imagePosition: '1'
                  isVisible: 0
                  clickURL: http://www.abcdef.com
                  linkText: Schedule
          schema:
            type: object
            properties:
              customCardDetails:
                type: array
                items: {}
        '401':
          description: Unauthorized
          headers: {}
          examples:
            application/json:
              code: 1011
              message: Business id is invalid
          schema:
            $ref: '#/definitions/1011Model'
        '429':
          description: Too Many Requests
          headers: {}
          examples:
            application/json:
              code: 89
              message: Rate limit exceeded
          schema:
            $ref: '#/definitions/89Model'
      summary: Get Custom card details
      operationId: Get Custom card details
      description: ''
      tags:
        - Business
      parameters:
        - name: businessNumber
          in: path
          description: Id of a business (Long).
          required: true
          type: number
        - name: Accept
          in: header
          description: e.g. application/json
          required: false
          x-example: application/json
          type: string
        - name: x-api-key
          in: header
          description: e.g. [Required] Partner specific API key provided by Birdeye for data exchange.
          required: false
          x-example: '[Required] Partner specific API key provided by Birdeye for data exchange.'
          type: string
      produces:
        - application/json
      consumes:
        - application/json
  /v1/business/public/card/{cardId}:
    put:
      responses:
        '200':
          description: OK
          headers: {}
          examples: {}
        '401':
          description: Unauthorized
          headers: {}
          examples:
            application/json:
              code: 1011
              message: Business id is invalid
          schema:
            $ref: '#/definitions/1011Model'
        '429':
          description: Too Many Requests
          headers: {}
          examples:
            application/json:
              code: 89
              message: Rate limit exceeded
          schema:
            $ref: '#/definitions/89Model'
      summary: Update Custom card
      operationId: Update Custom card
      description: ''
      tags:
        - Business
      parameters:
        - name: cardId
          in: path
          description: Id of the custom card to update.
          required: true
          type: number
        - name: Accept
          in: header
          description: e.g. application/json
          required: false
          x-example: application/json
          type: string
        - name: x-api-key
          in: header
          description: e.g. [Required] Partner specific API key provided by Birdeye for data exchange.
          required: false
          x-example: '[Required] Partner specific API key provided by Birdeye for data exchange.'
          type: string
        - name: x-business-number
          in: header
          description: e.g. [Required] Long Business Number.
          required: false
          x-example: '[Required] Long Business Number.'
          type: string
        - name: body
          in: body
          schema:
            type: object
            properties:
              cardId:
                type: number
                description: Id of the custom card to update.
              title:
                type: string
                description: Title shown on the custom card.
              description:
                type: string
                description: Description/content shown on the custom card.
              imageURL:
                type: string
                description: Public image URL displayed on the card.
              imagePosition:
                type: string
                description: |-
                  Image position value. Possible values are:

                      1 - image is placed at top,
                      2 - image is placed at left,
                      3 - image is placed at right
              isVisible:
                type: number
                description: |-
                  Visibility status of card on the microsite. Possible values are:

                      0 - card will not be visible on the microsite,
                      1 - card will be visible on the microsite
              isPinOnTop:
                type: number
                description: Pin status of card on the microsite.
              clickURL:
                type: string
                description: Redirect URL for card click action.
              linkText:
                type: string
                description: Text displayed for the link.
              type:
                type: string
                description: Type/category of the custom card.
            required:
              - cardId
              - title
            example:
              cardId: 14744
              title: title
              description: desc
              imageURL: https://d1py4eyp5hehj0.cloudfront.net/upload/1475208/1737886366109/Screenshot20250109040058.png
              imagePosition: '1'
              isVisible: 1
              isPinOnTop: 1
              clickURL: https://www.google.com/
              linkText: ''
              type: Link type
      produces:
        - application/json
      consumes:
        - application/json
    delete:
      responses:
        '200':
          description: OK
          headers: {}
          examples: {}
        '401':
          description: Unauthorized
          headers: {}
          examples:
            application/json:
              code: 1011
              message: Business id is invalid
          schema:
            $ref: '#/definitions/1011Model'
        '429':
          description: Too Many Requests
          headers: {}
          examples:
            application/json:
              code: 89
              message: Rate limit exceeded
          schema:
            $ref: '#/definitions/89Model'
      summary: Delete Custom card
      operationId: Delete Custom card
      description: ''
      tags:
        - Business
      parameters:
        - name: cardId
          in: path
          description: Id of the custom card to delete.
          required: true
          type: number
        - name: Accept
          in: header
          description: e.g. */*
          required: false
          x-example: '*/*'
          type: string
        - name: x-api-key
          in: header
          description: e.g. [Required] Partner specific API key provided by Birdeye for data exchange.
          required: false
          x-example: '[Required] Partner specific API key provided by Birdeye for data exchange.'
          type: string
        - name: x-business-number
          in: header
          description: e.g. [Required] Long Business Number.
          required: false
          x-example: '[Required] Long Business Number.'
          type: string
      produces:
        - application/json
      consumes: []
  /v1/business/{businessNumber}/timezones:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              timezones:
                - value: Etc/GMT+12
                  label: (GMT-12:00) Etc/GMT+12
                - value: Pacific/Pago_Pago
                  label: (GMT-11:00) Pacific/Pago_Pago
                - value: Pacific/Samoa
                  label: (GMT-11:00) Pacific/Samoa
                - value: Pacific/Niue
                  label: (GMT-11:00) Pacific/Niue
          schema:
            type: object
            properties:
              timezones:
                type: array
                items: {}
        '401':
          description: Unauthorized
          headers: {}
          examples:
            application/json:
              code: 1011
              message: Business id is invalid
          schema:
            $ref: '#/definitions/1011Model'
        '429':
          description: Too Many Requests
          headers: {}
          examples:
            application/json:
              code: 89
              message: Rate limit exceeded
          schema:
            $ref: '#/definitions/89Model'
      summary: Get Timezone List
      operationId: Get Timezone List
      description: ''
      tags:
        - Business
      parameters:
        - name: businessNumber
          in: path
          description: Id of a business (Long).
          required: true
          type: number
        - name: Accept
          in: header
          description: e.g. application/json
          required: false
          x-example: application/json
          type: string
        - name: x-api-key
          in: header
          description: e.g. [Required] Partner specific API key provided by Birdeye for data exchange.
          required: false
          x-example: '[Required] Partner specific API key provided by Birdeye for data exchange.'
          type: string
      produces:
        - application/json
      consumes:
        - application/json
  /v1/business/{businessNumber}/birdeye/impressions:
    post:
      responses:
        '200':
          description: OK
          headers: {}
          examples: {}
        '401':
          description: Unauthorized
          headers: {}
          examples:
            application/json:
              code: 1167
              message: API key is missing
          schema:
            $ref: '#/definitions/1167Model'
        '2292':
          headers: {}
          examples:
            application/json:
              code: 2292
              message: sortby can only be 'total' or 'location'
          schema:
            $ref: '#/definitions/2292Model'
        '2293':
          headers: {}
          examples:
            application/json:
              code: 2293
              message: order can only be 'asc' or 'desc'
          schema:
            $ref: '#/definitions/2293Model'
      summary: Get Birdeye Impressions
      operationId: Get Birdeye Impressions
      description: ''
      tags:
        - Business
      parameters:
        - name: businessNumber
          in: path
          description: Account Business Number.
          required: true
          x-example: '169744180007807'
          type: string
        - name: Accept
          in: header
          description: e.g. application/json
          required: false
          x-example: application/json
          type: string
        - name: x-api-key
          in: header
          description: e.g. - Partner specific API key provided by Birdeye for data exchange.
          required: false
          x-example: '- Partner specific API key provided by Birdeye for data exchange.'
          type: string
        - name: body
          in: body
          schema:
            type: object
            properties:
              businessNumbers:
                type: string
                description: 'list of the unique business ids associated with a business eg: [123456789, 987656789]'
              startDate:
                type: string
                description: '11-10 (required,string)-yyyy-MM-dd eg: "2020-11-10"'
              endDate:
                type: string
                description: '11-10 (required,string)-yyyy-MM-dd eg: "2020-11-10"'
              limit:
                type: number
                description: 'page size. default: 25'
              startIndex:
                type: number
                description: 'default: 0'
              sortby:
                type: string
                description: '"location" or "total" default: total.'
              order:
                type: string
                description: '"asc" or "desc" default: desc'
            required:
              - businessNumbers
            example:
              businessNumbers:
                - 147286063579104
                - 147286063579108
              startDate: '2022-11-23'
              endDate: '2023-11-23'
              limit: 5
              order: desc
              sortby: location
              startIndex: 0
      produces:
        - application/json
      consumes:
        - application/json
  /v1/business/public/custom-fields/create:
    post:
      responses:
        '200':
          description: OK
          headers: {}
          examples: {}
        '400':
          description: Bad Request
          headers: {}
          examples:
            application/json:
              code: 5040
              message: Max limit reached for custom fields.
          schema:
            $ref: '#/definitions/5040Model'
      summary: Create
      operationId: Create
      description: ''
      tags:
        - Custom Fields
      parameters:
        - name: Accept
          in: header
          description: e.g. application/json
          required: false
          x-example: application/json
          type: string
        - name: x-api-key
          in: header
          description: e.g. - Partner specific API key provided by Birdeye for data exchange.
          required: false
          x-example: '- Partner specific API key provided by Birdeye for data exchange.'
          type: string
        - name: x-business-number
          in: header
          description: e.g. - Long Business Number
          required: false
          x-example: '- Long Business Number'
          type: string
        - name: body
          in: body
          schema:
            type: object
            properties:
              defaultValue:
                type: string
                description: Default Value of custom field.
              dropDownOptions:
                type: array
                description: |-
                  The list of options in custom field.

                  Only required when when type is either "DROPDOWN_SINGLE" or "DROPDOWN_MULTI".
              fieldDescription:
                type: string
                description: Description of custom field.
              fieldName:
                type: string
                description: Name of custom field.
              filterable:
                type: boolean
                description: 'Whether the custom field will be filterable or not. Default: false'
              type:
                type: string
                description: |-
                  Type of custom field.

                  Values allowed are TEXT, URL, NUMBER, DATE, DROPDOWN_SINGLE ,DROPDOWN_MULTI,TEXT_RAW.
            required:
              - fieldName
              - type
            example:
              defaultValue: Green
              dropDownOptions:
                - Blue
                - Green
                - Red
              fieldDescription: This custom field contains list of colours
              fieldName: colours
              filterable: 'false'
              type: DROPDOWN_MULTI
      produces:
        - application/json
      consumes:
        - application/json
  /v1/business/public/custom-fields/update/{fieldId}:
    put:
      responses:
        '200':
          description: OK
          headers: {}
          examples: {}
        '400':
          description: Bad Request
          headers: {}
          examples:
            application/json:
              code: 5026
              message: Custom field updation failed.
          schema:
            $ref: '#/definitions/5026Model'
      summary: Update
      operationId: Update
      description: ''
      tags:
        - Custom Fields
      parameters:
        - name: fieldId
          in: path
          description: fieldId of the custom field created earlier.
          required: true
          x-example: '376'
          type: number
        - name: Accept
          in: header
          description: e.g. application/json
          required: false
          x-example: application/json
          type: string
        - name: x-api-key
          in: header
          description: e.g. - Partner specific API key provided by Birdeye for data exchange.
          required: false
          x-example: '- Partner specific API key provided by Birdeye for data exchange.'
          type: string
        - name: x-business-number
          in: header
          description: e.g. - Long Business Number
          required: false
          x-example: '- Long Business Number'
          type: string
        - name: body
          in: body
          schema:
            type: object
            properties:
              defaultValue:
                type: string
                description: Default Value of custom field.
              dropDownOptions:
                type: array
                description: |-
                  The list of options in custom field.The list of options in custom field

                  (In case the dropdown options were added during creation, while updating , add the same in
              fieldDescription:
                type: string
                description: Description of custom field.
              filterable:
                type: boolean
                description: Whether the custom field will be filterable or not.
              isHidden:
                type: boolean
                description: Whether the custom field will be hidden or not.
            example:
              defaultValue: Green
              dropDownOptions:
                - Blue
                - Green
                - Red
              fieldDescription: This custom field contains list of colours
              filterable: 'false'
              isHidden: 'false'
      produces:
        - application/json
      consumes:
        - application/json
  /v1/business/public/custom-fields/get/{fieldId}?locationBizNumber={locationBizNumber}:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          examples: {}
          schema:
            type: object
            properties:
              id:
                type: number
                example: 376
                description: fieldId of the custom field.
              fieldValue:
                type: string
                example: Green
                description: Field Value of custom field and will only be visible if value is present.
              fieldName:
                type: string
                example: colours
                description: Name of the custom field.
              type:
                type: string
                example: DROPDOWN_MULTI
                description: Type of field.
              defaultValue:
                type: string
                example: Green
                description: Default Value of custom field and will only be visible if value is present.
              fieldDescription:
                type: string
                example: This custom field contains list of colours
                description: Description of custom field.
              filterable:
                type: boolean
                description: Whether the custom field will be filterable or not.
        '400':
          description: Bad Request
          headers: {}
          examples:
            application/json:
              code: 5025
              message: Custom field not found.
          schema:
            $ref: '#/definitions/5025Model'
      summary: Get
      operationId: Get
      description: ''
      tags:
        - Custom Fields
      parameters:
        - name: fieldId
          in: path
          description: fieldId of the custom field created earlier.
          required: true
          x-example: '376'
          type: number
        - name: locationBizNumber
          in: path
          description: Long Location number of the Location
          required: true
          x-example: '123456789'
          type: number
        - name: Accept
          in: header
          description: e.g. application/json
          required: false
          x-example: application/json
          type: string
        - name: x-api-key
          in: header
          description: e.g. - Partner specific API key provided by Birdeye for data exchange.
          required: false
          x-example: '- Partner specific API key provided by Birdeye for data exchange.'
          type: string
        - name: x-business-number
          in: header
          description: e.g. - Long Business Number
          required: false
          x-example: '- Long Business Number'
          type: string
      produces:
        - application/json
      consumes:
        - application/json
  /v1/business/public/custom-fields/getList?locationBizNumber={locationBizNumber}:
    post:
      responses:
        '200':
          description: OK
          headers: {}
          examples: {}
          schema:
            type: object
            properties:
              id:
                type: number
                example: 376
                description: fieldId of the custom field.
              fieldValue:
                type: string
                example: Green
                description: Field Value of custom field and will only be visible if value is present.
              fieldName:
                type: string
                example: colours
                description: Name of the custom field.
              type:
                type: string
                example: DROPDOWN_MULTI
                description: Type of field.
              defaultValue:
                type: string
                example: Green
                description: Default Value of custom field and will only be visible if value is present.
              fieldDescription:
                type: string
                example: This custom field contains list of colours
                description: Description of custom field.
              filterable:
                type: boolean
                description: Whether the custom field will be filterable or not.
              dropDownOptions:
                type: array
                items: {}
                description: The list of options in custom field and will only be visible if value is present.
        '406':
          description: Not Acceptable
          headers: {}
          examples:
            application/json:
              code: 1027
              message: Invalid business number.
          schema:
[...]
